# Maintained by the APIx team
*                         @mongodb/apix-platform
/tools/cli/               @mongodb/apix-2 @mongodb/apix-platform
/tools/spectral/ipa/      @mongodb/apix-platform
/tools/postman/           @mongodb/apix-platform
package.json              @mongodb/apix-platform
