# Maintained by the APIx team
*                         @mongodb/apix
/tools/cli/               @mongodb/apix-2 @mongodb/apix1
/tools/spectral/ipa/      @mongodb/apix1
/tools/postman/           @mongodb/apix1
package.json              @mongodb/apix1
