{
  "openapi": "3.0.1",
  "security": [
    {
      "ServiceAccounts": []
    },
    {
      "DigestAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://cloud.mongodb.com"
    }
  ],
  "tags": [
    {
      "description": "Returns, adds, edits, and removes Streams Instances. This resource requires your project ID.",
      "name": "Streams"
    }
  ],
  "info": {
    "description": "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API uses OAuth2 Service Accounts or HTTP Digest Authentication to authenticate requests. Provide a programmatic API public key and corresponding private key as the username and password when constructing the HTTP request. For example, to [return database access history](#tag/Access-Tracking/operation/listAccessLogsByClusterName) with [cURL](https://en.wikipedia.org/wiki/CURL), run the following command in the terminal:\n\n```\ncurl --user \"{PUBLIC-KEY}:{PRIVATE-KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.private-preview-aws-transit-gateway+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dbAccessHistory/clusters/{clusterName}?pretty=true\"\n```\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).\n\nYou can also explore the various endpoints available through the Atlas Administration API in MongoDB's [Postman workspace](https://www.postman.com/mongodb-devrel/workspace/mongodb-atlas-administration-apis/).",
    "license": {
      "name": "CC BY-NC-SA 3.0 US",
      "url": "https://creativecommons.org/licenses/by-nc-sa/3.0/us/"
    },
    "termsOfService": "https://www.mongodb.com/mongodb-management-service-terms-and-conditions",
    "title": "MongoDB Atlas Administration API",
    "version": "2.0",
    "x-xgen-sha": "4294a70e77b8f6baa20168eaac71d81e3c0ae442"
  },
  "paths": {
    "/api/atlas/v2/groups/{groupId}/streamsTgwRoutes": {
      "get": {
        "description": "This API is in preview. Breaking changes might be introduced before it is released. Don't use preview APIs in production.\n\n List Transit Gateway routes in the default route table associated with Atlas VPC.",
        "operationId": "listTransitGatewayRoutes",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.atlas.preview+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedApiStreamsTransitGatewayRouteResponse"
                },
                "x-xgen-preview": {
                  "name": "aws-transit-gateway"
                },
                "x-xgen-version": "private-preview-aws-transit-gateway"
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return All Transit Gateway Routes in the Default Route Table for One Atlas VPC",
        "tags": [
          "Streams"
        ],
        "x-beta": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "Atlas CLI",
            "source": "atlas api listTransitGatewayRoutes --help"
          },
          {
            "lang": "cURL",
            "label": "curl (Service Accounts)",
            "source": "curl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes?pretty=true\""
          },
          {
            "lang": "cURL",
            "label": "curl (Digest)",
            "source": "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes?pretty=true\""
          }
        ],
        "x-state": "PREVIEW",
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Streams/operation/listTransitGatewayRoutes"
      },
      "post": {
        "description": "This API is in preview. Breaking changes might be introduced before it is released. Don't use preview APIs in production.\n\n Creates a route in the default route table associated with Atlas VPC to route all traffic destined for provided CIDR to the provided Transit Gateway.",
        "operationId": "createTransitGatewayRoute",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          }
        ],
        "requestBody": {
          "content": {},
          "description": "Metadata needed for creating a transit gateway route.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.atlas.preview+json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamsTransitGatewayRouteResponse"
                },
                "x-xgen-preview": {
                  "name": "aws-transit-gateway"
                },
                "x-xgen-version": "private-preview-aws-transit-gateway"
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Creates a route in the default route table associated with Atlas VPC to route all traffic destined for provided CIDR to the provided Transit Gateway.",
        "tags": [
          "Streams"
        ],
        "x-beta": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "Atlas CLI",
            "source": "atlas api createTransitGatewayRoute --help"
          },
          {
            "lang": "cURL",
            "label": "curl (Service Accounts)",
            "source": "curl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes\" \\\n  -d '{ <Payload> }'"
          },
          {
            "lang": "cURL",
            "label": "curl (Digest)",
            "source": "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes\" \\\n  -d '{ <Payload> }'"
          }
        ],
        "x-state": "PREVIEW",
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Streams/operation/createTransitGatewayRoute"
      }
    },
    "/api/atlas/v2/groups/{groupId}/streamsTgwRoutes/{routeId}": {
      "delete": {
        "description": "This API is in preview. Breaking changes might be introduced before it is released. Don't use preview APIs in production.\n\n Deletes a transit gateway route in the default route table associated with Atlas VPC.",
        "operationId": "deleteTransitGatewayRoute",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "description": "The Object ID that uniquely identifies a transit gateway route.",
            "in": "path",
            "name": "routeId",
            "required": true,
            "schema": {
              "example": "32b6e34b3d91647abb20e7b8",
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/vnd.atlas.preview+json": {
                "x-xgen-preview": {
                  "name": "aws-transit-gateway"
                },
                "x-xgen-version": "private-preview-aws-transit-gateway"
              }
            },
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Delete One Transit Gateway Route in the Default Route Table for One Atlas VPC",
        "tags": [
          "Streams"
        ],
        "x-beta": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "Atlas CLI",
            "source": "atlas api deleteTransitGatewayRoute --help"
          },
          {
            "lang": "cURL",
            "label": "curl (Service Accounts)",
            "source": "curl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes/{routeId}\""
          },
          {
            "lang": "cURL",
            "label": "curl (Digest)",
            "source": "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes/{routeId}\""
          }
        ],
        "x-state": "PREVIEW",
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Streams/operation/deleteTransitGatewayRoute"
      },
      "get": {
        "description": "This API is in preview. Breaking changes might be introduced before it is released. Don't use preview APIs in production.\n\n Retrieves a transit gateway route in the default route table associated with Atlas VPC.",
        "operationId": "getTransitGatewayRoute",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "The Object ID that uniquely identifies a transit gateway route.",
            "in": "path",
            "name": "routeId",
            "required": true,
            "schema": {
              "example": "32b6e34b3d91647abb20e7b8",
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.atlas.preview+json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamsTransitGatewayRouteResponse"
                },
                "x-xgen-preview": {
                  "name": "aws-transit-gateway"
                },
                "x-xgen-version": "private-preview-aws-transit-gateway"
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "summary": "Return One Transit Gateway Route in the Default Route Table for One Atlas VPC",
        "tags": [
          "Streams"
        ],
        "x-beta": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "Atlas CLI",
            "source": "atlas api getTransitGatewayRoute --help"
          },
          {
            "lang": "cURL",
            "label": "curl (Service Accounts)",
            "source": "curl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes/{routeId}?pretty=true\""
          },
          {
            "lang": "cURL",
            "label": "curl (Digest)",
            "source": "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.preview+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/streamsTgwRoutes/{routeId}?pretty=true\""
          }
        ],
        "x-state": "PREVIEW",
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Streams/operation/getTransitGatewayRoute"
      }
    }
  },
  "components": {
    "parameters": {
      "collectionName": {
        "description": "Human-readable label that identifies the collection.",
        "in": "path",
        "name": "collectionName",
        "required": true,
        "schema": {
          "example": "mycoll",
          "type": "string"
        }
      },
      "databaseName": {
        "description": "Human-readable label that identifies the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "example": "mydb",
          "type": "string"
        }
      },
      "end": {
        "description": "Date and time when MongoDB Cloud stops reporting the metrics. This parameter expresses its value in the ISO 8601 timestamp format in UTC. Include this parameter when you do not set **period**.",
        "in": "query",
        "name": "end",
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "envelope": {
        "description": "Flag that indicates whether Application wraps the response in an `envelope` JSON object. Some API clients cannot access the HTTP response headers or status code. To remediate this, set envelope=true in the query. Endpoints that return a list of results use the results object as an envelope. Application adds the status parameter to the response body.",
        "in": "query",
        "name": "envelope",
        "schema": {
          "default": false,
          "type": "boolean"
        }
      },
      "federationSettingsId": {
        "description": "Unique 24-hexadecimal digit string that identifies your federation.",
        "in": "path",
        "name": "federationSettingsId",
        "required": true,
        "schema": {
          "example": "55fa922fb343282757d9554e",
          "pattern": "^([a-f0-9]{24})$",
          "type": "string"
        }
      },
      "granularity": {
        "description": "Duration that specifies the interval at which Atlas reports the metrics. This parameter expresses its value in the ISO 8601 duration format in UTC.",
        "in": "query",
        "name": "granularity",
        "required": true,
        "schema": {
          "example": "PT1M",
          "type": "string"
        }
      },
      "groupId": {
        "description": "Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.\n\n**NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.",
        "in": "path",
        "name": "groupId",
        "required": true,
        "schema": {
          "example": "32b6e34b3d91647abb20e7b8",
          "pattern": "^([a-f0-9]{24})$",
          "type": "string"
        },
        "x-xgen-IPA-exception": {
          "xgen-IPA-117-description-should-not-use-inline-links": "Parameters don't support externalDocs"
        }
      },
      "identityProviderId": {
        "description": "Legacy 20-hexadecimal digit string that identifies the identity provider. This id can be found within the Federation Management Console > Identity Providers tab by clicking the info icon in the IdP ID row of a configured identity provider.",
        "in": "path",
        "name": "identityProviderId",
        "required": true,
        "schema": {
          "example": "c2777a9eca931f29fc2f",
          "pattern": "^([a-f0-9]{20})$",
          "type": "string"
        }
      },
      "includeCount": {
        "description": "Flag that indicates whether the response returns the total number of items (**totalCount**) in the response.",
        "in": "query",
        "name": "includeCount",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "indexName": {
        "description": "Human-readable label that identifies the index.",
        "in": "path",
        "name": "indexName",
        "required": true,
        "schema": {
          "example": "myindex",
          "type": "string"
        }
      },
      "itemsPerPage": {
        "description": "Number of items that the response returns per page.",
        "in": "query",
        "name": "itemsPerPage",
        "schema": {
          "default": 100,
          "maximum": 500,
          "minimum": 1,
          "type": "integer"
        }
      },
      "liveMigrationId": {
        "description": "Unique 24-hexadecimal digit string that identifies the migration.",
        "in": "path",
        "name": "liveMigrationId",
        "required": true,
        "schema": {
          "example": "6296fb4c7c7aa997cf94e9a8",
          "pattern": "^([a-f0-9]{24})$",
          "type": "string"
        }
      },
      "orgId": {
        "description": "Unique 24-hexadecimal digit string that identifies the organization that contains your projects. Use the [/orgs](#tag/Organizations/operation/listOrganizations) endpoint to retrieve all organizations to which the authenticated user has access.",
        "in": "path",
        "name": "orgId",
        "required": true,
        "schema": {
          "example": "4888442a3354817a7320eb61",
          "pattern": "^([a-f0-9]{24})$",
          "type": "string"
        },
        "x-xgen-IPA-exception": {
          "xgen-IPA-117-description-should-not-use-inline-links": "Parameters don't support externalDocs"
        }
      },
      "pageNum": {
        "description": "Number of the page that displays the current set of the total objects that the response returns.",
        "in": "query",
        "name": "pageNum",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "period": {
        "description": "Duration over which Atlas reports the metrics. This parameter expresses its value in the ISO 8601 duration format in UTC. Include this parameter when you do not set **start** and **end**.",
        "in": "query",
        "name": "period",
        "schema": {
          "example": "PT10H",
          "type": "string"
        }
      },
      "pretty": {
        "description": "Flag that indicates whether the response body should be in the prettyprint format.",
        "in": "query",
        "name": "pretty",
        "schema": {
          "default": false,
          "externalDocs": {
            "description": "Prettyprint",
            "url": "https://en.wikipedia.org/wiki/Prettyprint"
          },
          "type": "boolean"
        }
      },
      "processId": {
        "description": "Combination of hostname and IANA port that serves the MongoDB process. The host must be the hostname, fully qualified domain name (FQDN), or Internet Protocol address (IPv4 or IPv6) of the host that runs the MongoDB process (mongod or mongos). The port must be the IANA port on which the MongoDB process listens for requests.",
        "in": "path",
        "name": "processId",
        "required": true,
        "schema": {
          "example": "my.host.name.com:27017",
          "pattern": "^([0-9]{1,3}\\.){3}[0-9]{1,3}|([0-9a-f]{1,4}\\:){7}([0-9a-f]{1,4})|(([a-z0-9]+\\.){1,10}[a-z]+)?(\\:[0-9]{4,5})$",
          "type": "string"
        }
      },
      "start": {
        "description": "Date and time when MongoDB Cloud begins reporting the metrics. This parameter expresses its value in the ISO 8601 timestamp format in UTC. Include this parameter when you do not set **period**.",
        "in": "query",
        "name": "start",
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "responses": {
      "accepted": {
        "description": "Accepted."
      },
      "badRequest": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint) No provider AWS exists.",
              "error": 400,
              "errorCode": "VALIDATION_ERROR",
              "reason": "Bad Request"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Bad Request."
      },
      "conflict": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint) Cannot delete organization link while there is active migration in following project ids: 60c4fd418ebe251047c50554",
              "error": 409,
              "errorCode": "CANNOT_DELETE_ORG_ACTIVE_LIVE_MIGRATION_ATLAS_ORG_LINK",
              "reason": "Conflict"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Conflict."
      },
      "forbidden": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint)",
              "error": 403,
              "errorCode": "CANNOT_CHANGE_GROUP_NAME",
              "reason": "Forbidden"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Forbidden."
      },
      "gone": {
        "content": {
          "application/json": {
            "example": {
              "detail": "This happens when a resource is marked for sunset and the sunset date is in the past.",
              "error": 410,
              "errorCode": "VERSION_GONE",
              "reason": "Gone"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Gone."
      },
      "internalServerError": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint)",
              "error": 500,
              "errorCode": "UNEXPECTED_ERROR",
              "reason": "Internal Server Error"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Internal Server Error."
      },
      "methodNotAllowed": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint)",
              "error": 405,
              "errorCode": "ATLAS_BACKUP_CANCEL_SHARD_RESTORE_JOB_NOT_ALLOWED",
              "reason": "Method Not Allowed"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Method Not Allowed."
      },
      "noBody": {
        "description": "This endpoint does not return a response body."
      },
      "notFound": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint) Cannot find resource AWS",
              "error": 404,
              "errorCode": "RESOURCE_NOT_FOUND",
              "reason": "Not Found"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Not Found."
      },
      "paymentRequired": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint)",
              "error": 402,
              "errorCode": "NO_PAYMENT_INFORMATION_FOUND",
              "reason": "Payment Required"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Payment Required."
      },
      "unauthorized": {
        "content": {
          "application/json": {
            "example": {
              "detail": "(This is just an example, the exception may not be related to this endpoint)",
              "error": 401,
              "errorCode": "NOT_ORG_GROUP_CREATOR",
              "reason": "Unauthorized"
            },
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "description": "Unauthorized."
      }
    },
    "schemas": {
      "AWSCloudProviderContainer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CloudProviderContainer"
          },
          {
            "properties": {
              "atlasCidrBlock": {
                "description": "IP addresses expressed in Classless Inter-Domain Routing (CIDR) notation that MongoDB Cloud uses for the network peering containers in your project. MongoDB Cloud assigns all of the project's clusters deployed to this cloud provider an IP address from this range. MongoDB Cloud locks this value if an M10 or greater cluster or a network peering connection exists in this project.\n\nThese CIDR blocks must fall within the ranges reserved per RFC 1918. AWS and Azure further limit the block to between the `/24` and  `/21` ranges.\n\nTo modify the CIDR block, the target project cannot have:\n\n- Any M10 or greater clusters\n- Any other VPC peering connections\n\n You can also create a new project and create a network peering connection to set the desired MongoDB Cloud network peering container CIDR block for that project. MongoDB Cloud limits the number of MongoDB nodes per network peering connection based on the CIDR block and the region selected for the project.\n\n **Example:** A project in an Amazon Web Services (AWS) region supporting three availability zones and an MongoDB CIDR network peering container block of limit of `/24` equals 27 three-node replica sets.",
                "pattern": "^((([0-9]{1,3}\\.){3}[0-9]{1,3})|(:{0,2}([0-9a-f]{1,4}:){0,7}[0-9a-f]{1,4}[:]{0,2}))((%2[fF]|/)[0-9]{1,3})+$",
                "type": "string"
              },
              "regionName": {
                "description": "Geographic area that Amazon Web Services (AWS) defines to which MongoDB Cloud deployed this network peering container.",
                "enum": [
                  "US_EAST_1",
                  "US_EAST_2",
                  "US_WEST_1",
                  "US_WEST_2",
                  "CA_CENTRAL_1",
                  "EU_NORTH_1",
                  "EU_WEST_1",
                  "EU_WEST_2",
                  "EU_WEST_3",
                  "EU_CENTRAL_1",
                  "EU_CENTRAL_2",
                  "SA_EAST_1",
                  "AP_EAST_1",
                  "AP_SOUTHEAST_2",
                  "AP_SOUTHEAST_3",
                  "AP_SOUTHEAST_4",
                  "AP_NORTHEAST_1",
                  "AP_NORTHEAST_2",
                  "AP_NORTHEAST_3",
                  "AP_SOUTHEAST_1",
                  "AP_SOUTH_1",
                  "AP_SOUTH_2",
                  "CN_NORTH_1",
                  "CN_NORTHWEST_1",
                  "ME_CENTRAL_1",
                  "ME_SOUTH_1",
                  "AF_SOUTH_1",
                  "EU_SOUTH_1",
                  "EU_SOUTH_2",
                  "IL_CENTRAL_1",
                  "CA_WEST_1",
                  "AP_SOUTHEAST_5",
                  "AP_SOUTHEAST_7",
                  "MX_CENTRAL_1",
                  "GLOBAL",
                  "US_GOV_WEST_1",
                  "US_GOV_EAST_1"
                ],
                "type": "string"
              },
              "vpcId": {
                "description": "Unique string that identifies the MongoDB Cloud VPC on AWS.",
                "example": "vpc-b555d3b0d9cb783b0",
                "pattern": "^vpc-[0-9a-f]{17}$",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "description": "Collection of settings that configures the network container for a virtual private connection on Amazon Web Services.",
        "required": [
          "regionName"
        ],
        "title": "AWS",
        "type": "object"
      },
      "AWSCloudProviderSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClusterProviderSettings"
          },
          {
            "properties": {
              "autoScaling": {
                "$ref": "#/components/schemas/CloudProviderAWSAutoScaling"
              },
              "diskIOPS": {
                "description": "Maximum Disk Input/Output Operations per Second (IOPS) that the database host can perform.",
                "format": "int32",
                "type": "integer"
              },
              "encryptEBSVolume": {
                "default": true,
                "deprecated": true,
                "description": "Flag that indicates whether the Amazon Elastic Block Store (EBS) encryption feature encrypts the host's root volume for both data at rest within the volume and for data moving between the volume and the cluster. Clusters always have this setting enabled.",
                "type": "boolean"
              },
              "instanceSizeName": {
                "description": "Cluster tier, with a default storage and memory capacity, that applies to all the data-bearing hosts in your cluster.",
                "enum": [
                  "M10",
                  "M20",
                  "M30",
                  "M40",
                  "M50",
                  "M60",
                  "M80",
                  "M100",
                  "M140",
                  "M200",
                  "M300",
                  "R40",
                  "R50",
                  "R60",
                  "R80",
                  "R200",
                  "R300",
                  "R400",
                  "R700",
                  "M40_NVME",
                  "M50_NVME",
                  "M60_NVME",
                  "M80_NVME",
                  "M200_NVME",
                  "M400_NVME"
                ],
                "title": "AWS Instance Sizes",
                "type": "string"
              },
              "regionName": {
                "description": "Physical location where MongoDB Cloud deploys your AWS-hosted MongoDB cluster nodes. The region you choose can affect network latency for clients accessing your databases. When MongoDB Cloud deploys a dedicated cluster, it checks if a VPC or VPC connection exists for that provider and region. If not, MongoDB Cloud creates them as part of the deployment. MongoDB Cloud assigns the VPC a CIDR block. To limit a new VPC peering connection to one CIDR block and region, create the connection first. Deploy the cluster after the connection starts.",
                "enum": [
                  "US_GOV_WEST_1",
                  "US_GOV_EAST_1",
                  "US_EAST_1",
                  "US_EAST_2",
                  "US_WEST_1",
                  "US_WEST_2",
                  "CA_CENTRAL_1",
                  "EU_NORTH_1",
                  "EU_WEST_1",
                  "EU_WEST_2",
                  "EU_WEST_3",
                  "EU_CENTRAL_1",
                  "EU_CENTRAL_2",
                  "AP_EAST_1",
                  "AP_NORTHEAST_1",
                  "AP_NORTHEAST_2",
                  "AP_NORTHEAST_3",
                  "AP_SOUTHEAST_1",
                  "AP_SOUTHEAST_2",
                  "AP_SOUTHEAST_3",
                  "AP_SOUTHEAST_4",
                  "AP_SOUTH_1",
                  "AP_SOUTH_2",
                  "SA_EAST_1",
                  "CN_NORTH_1",
                  "CN_NORTHWEST_1",
                  "ME_SOUTH_1",
                  "ME_CENTRAL_1",
                  "AF_SOUTH_1",
                  "EU_SOUTH_1",
                  "EU_SOUTH_2",
                  "IL_CENTRAL_1",
                  "CA_WEST_1",
                  "AP_SOUTHEAST_5",
                  "AP_SOUTHEAST_7",
                  "MX_CENTRAL_1",
                  "GLOBAL"
                ],
                "externalDocs": {
                  "description": "AWS",
                  "url": "https://docs.atlas.mongodb.com/reference/amazon-aws/#std-label-amazon-aws"
                },
                "title": "AWS Regions",
                "type": "string"
              },
              "volumeType": {
                "description": "Disk Input/Output Operations per Second (IOPS) setting for Amazon Web Services (AWS) storage that you configure only for abbr title=\"Amazon Web Services\">AWS</abbr>. Specify whether Disk Input/Output Operations per Second (IOPS) must not exceed the default Input/Output Operations per Second (IOPS) rate for the selected volume size (`STANDARD`), or must fall within the allowable Input/Output Operations per Second (IOPS) range for the selected volume size (`PROVISIONED`). You must set this value to (`PROVISIONED`) for NVMe clusters.",
                "enum": [
                  "STANDARD",
                  "PROVISIONED"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "AWSComputeAutoScaling": {
        "description": "Collection of settings that configures how a cluster might scale its cluster tier and whether the cluster can scale down. Cluster tier auto-scaling is unavailable for clusters using Low CPU or NVME storage classes.",
        "properties": {
          "maxInstanceSize": {
            "description": "Maximum instance size to which your cluster can automatically scale.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M100",
              "M140",
              "M200",
              "M300",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "R700",
              "M40_NVME",
              "M50_NVME",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M400_NVME"
            ],
            "title": "AWS Instance Sizes",
            "type": "string"
          },
          "minInstanceSize": {
            "description": "Minimum instance size to which your cluster can automatically scale.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M100",
              "M140",
              "M200",
              "M300",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "R700",
              "M40_NVME",
              "M50_NVME",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M400_NVME"
            ],
            "title": "AWS Instance Sizes",
            "type": "string"
          }
        },
        "title": "AWS",
        "type": "object"
      },
      "AWSCreateDataProcessRegionView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateDataProcessRegionView"
          },
          {
            "properties": {
              "region": {
                "description": "Human-readable label that identifies the geographic location of the region where you wish to store your archived data.",
                "enum": [
                  "US_EAST_1",
                  "US_WEST_2",
                  "SA_EAST_1",
                  "EU_WEST_1",
                  "EU_WEST_2",
                  "EU_CENTRAL_1",
                  "AP_SOUTH_1",
                  "AP_SOUTHEAST_1",
                  "AP_SOUTHEAST_2"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "AWSDataProcessRegionView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DataProcessRegionView"
          },
          {
            "properties": {
              "region": {
                "description": "Human-readable label that identifies the geographic location of the region where you store your archived data.",
                "enum": [
                  "US_EAST_1",
                  "US_WEST_2",
                  "SA_EAST_1",
                  "EU_WEST_1",
                  "EU_WEST_2",
                  "EU_CENTRAL_1",
                  "AP_SOUTH_1",
                  "AP_SOUTHEAST_1",
                  "AP_SOUTHEAST_2"
                ],
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "AWSHardwareSpec": {
        "description": "Hardware specifications for nodes deployed in the region.",
        "properties": {
          "diskIOPS": {
            "description": "Target IOPS (Input/Output Operations Per Second) desired for storage attached to this hardware.\n\n Change this parameter if you:\n\n- set `\"replicationSpecs[n].regionConfigs[m].providerName\" to \"AWS\"`.\n- set `\"replicationSpecs[n].regionConfigs[m].electableSpecs.instanceSize\" to \"M30\"` or greater (not including `Mxx_NVME` tiers).\n\n- set `\"replicationSpecs[n].regionConfigs[m].electableSpecs.ebsVolumeType\" to \"PROVISIONED\"`.\n\nThe maximum input/output operations per second (IOPS) depend on the selected **.instanceSize** and **.diskSizeGB**.\nThis parameter defaults to the cluster tier's standard IOPS value.\nChanging this value impacts cluster cost.\nMongoDB Cloud enforces minimum ratios of storage capacity to system memory for given cluster tiers. This keeps cluster performance consistent with large datasets.\n\n- Instance sizes `M10` to `M40` have a ratio of disk capacity to system memory of 60:1.\n- Instance sizes greater than `M40` have a ratio of 120:1.",
            "format": "int32",
            "type": "integer"
          },
          "ebsVolumeType": {
            "default": "STANDARD",
            "description": "Type of storage you want to attach to your AWS-provisioned cluster.\n\n- `STANDARD` volume types can't exceed the default input/output operations per second (IOPS) rate for the selected volume size. \n\n- `PROVISIONED` volume types must fall within the allowable IOPS range for the selected volume size. You must set this value to (`PROVISIONED`) for NVMe clusters.",
            "enum": [
              "STANDARD",
              "PROVISIONED"
            ],
            "type": "string"
          },
          "instanceSize": {
            "description": "Hardware specification for the instance sizes in this region. Each instance size has a default storage and memory capacity. The instance size you select applies to all the data-bearing hosts of the node type.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M100",
              "M140",
              "M200",
              "M300",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "R700",
              "M40_NVME",
              "M50_NVME",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M400_NVME"
            ],
            "title": "AWS Instance Sizes",
            "type": "string"
          },
          "nodeCount": {
            "description": "Number of nodes of the given type for MongoDB Cloud to deploy to the region.",
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "AWS Cluster Hardware Settings",
        "type": "object"
      },
      "AWSHardwareSpec20240805": {
        "description": "Hardware specifications for nodes deployed in the region.",
        "properties": {
          "diskIOPS": {
            "description": "Target IOPS (Input/Output Operations Per Second) desired for storage attached to this hardware.\n\n You can set different IOPS values on different shards when provisioned IOPS are supported.\n\n Change this parameter if you:\n\n- set `\"replicationSpecs[n].regionConfigs[m].providerName\" to \"AWS\"`.\n- set `\"replicationSpecs[n].regionConfigs[m].electableSpecs.instanceSize\" to \"M30\"` or greater (not including `Mxx_NVME` tiers).\n\n- set `\"replicationSpecs[n].regionConfigs[m].electableSpecs.ebsVolumeType\" to \"PROVISIONED\"`.\n\nThe maximum input/output operations per second (IOPS) depend on the selected **.instanceSize** and **.diskSizeGB**.\nThis parameter defaults to the cluster tier's standard IOPS value.\nChanging this value impacts cluster cost.\nMongoDB Cloud enforces minimum ratios of storage capacity to system memory for given cluster tiers. This keeps cluster performance consistent with large datasets.\n\n- Instance sizes `M10` to `M40` have a ratio of disk capacity to system memory of 60:1.\n- Instance sizes greater than `M40` have a ratio of 120:1.",
            "format": "int32",
            "type": "integer"
          },
          "diskSizeGB": {
            "description": "Storage capacity of instance data volumes expressed in gigabytes. Increase this number to add capacity.\n\n This value must be equal for all shards and node types.\n\n This value is not configurable on M0/M2/M5 clusters.\n\n MongoDB Cloud requires this parameter if you set **replicationSpecs**.\n\n If you specify a disk size below the minimum (10 GB), this parameter defaults to the minimum disk size value. \n\n Storage charge calculations depend on whether you choose the default value or a custom value.\n\n The maximum value for disk storage cannot exceed 50 times the maximum RAM for the selected cluster. If you require more storage space, consider upgrading your cluster to a higher tier.",
            "externalDocs": {
              "description": "Customize Storage",
              "url": "https://dochub.mongodb.org/core/customize-storage"
            },
            "format": "double",
            "type": "number"
          },
          "ebsVolumeType": {
            "default": "STANDARD",
            "description": "Type of storage you want to attach to your AWS-provisioned cluster.\n\n- `STANDARD` volume types can't exceed the default input/output operations per second (IOPS) rate for the selected volume size. \n\n- `PROVISIONED` volume types must fall within the allowable IOPS range for the selected volume size. You must set this value to (`PROVISIONED`) for NVMe clusters.",
            "enum": [
              "STANDARD",
              "PROVISIONED"
            ],
            "type": "string"
          },
          "instanceSize": {
            "description": "Hardware specification for the instance sizes in this region in this shard. Each instance size has a default storage and memory capacity. Electable nodes and read-only nodes (known as \"base nodes\") within a single shard must use the same instance size. Analytics nodes can scale independently from base nodes within a shard. Both base nodes and analytics nodes can scale independently from their equivalents in other shards.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M100",
              "M140",
              "M200",
              "M300",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "R700",
              "M40_NVME",
              "M50_NVME",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M400_NVME"
            ],
            "title": "AWS Instance Sizes",
            "type": "string"
          },
          "nodeCount": {
            "description": "Number of nodes of the given type for MongoDB Cloud to deploy to the region.",
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "AWS Cluster Hardware Settings",
        "type": "object"
      },
      "AWSRegionConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CloudRegionConfig"
          },
          {
            "properties": {
              "analyticsAutoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "analyticsSpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec"
              },
              "autoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "readOnlySpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec"
              }
            },
            "type": "object"
          }
        ],
        "description": "Details that explain how MongoDB Cloud replicates data in one region on the specified MongoDB database.",
        "title": "AWS Regional Replication Specifications",
        "type": "object"
      },
      "AWSRegionConfig20240805": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CloudRegionConfig20240805"
          },
          {
            "properties": {
              "analyticsAutoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "analyticsSpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec20240805"
              },
              "autoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "readOnlySpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec20240805"
              }
            },
            "type": "object"
          }
        ],
        "description": "Details that explain how MongoDB Cloud replicates data in one region on the specified MongoDB database.",
        "title": "AWS Regional Replication Specifications",
        "type": "object"
      },
      "AdvancedAutoScalingSettings": {
        "description": "Options that determine how this cluster handles resource scaling.",
        "properties": {
          "compute": {
            "$ref": "#/components/schemas/AdvancedComputeAutoScaling"
          },
          "diskGB": {
            "$ref": "#/components/schemas/DiskGBAutoScaling"
          }
        },
        "title": "Automatic Scaling Settings",
        "type": "object"
      },
      "AdvancedComputeAutoScaling": {
        "description": "Options that determine how this cluster handles CPU scaling.",
        "properties": {
          "enabled": {
            "description": "Flag that indicates whether instance size reactive auto-scaling is enabled.\n\n- Set to `true` to enable instance size reactive auto-scaling. If enabled, you must specify a value for **replicationSpecs[n].regionConfigs[m].autoScaling.compute.maxInstanceSize**.\n- Set to `false` to disable instance size reactive auto-scaling.",
            "type": "boolean"
          },
          "maxInstanceSize": {
            "$ref": "#/components/schemas/BaseCloudProviderInstanceSize"
          },
          "minInstanceSize": {
            "$ref": "#/components/schemas/BaseCloudProviderInstanceSize"
          },
          "predictiveEnabled": {
            "description": "Flag that indicates whether predictive instance size auto-scaling is enabled.\n\n- Set to `true` to enable predictive instance size auto-scaling. MongoDB Cloud requires **replicationSpecs[n].regionConfigs[m].autoScaling.compute.enabled** to be `true` in order to enable this feature.\n- Set to `false` to disable predictive instance size auto-scaling.",
            "type": "boolean"
          },
          "scaleDownEnabled": {
            "description": "Flag that indicates whether the instance size may scale down via reactive auto-scaling. MongoDB Cloud requires this parameter if **replicationSpecs[n].regionConfigs[m].autoScaling.compute.enabled** is `true`. If you enable this option, specify a value for **replicationSpecs[n].regionConfigs[m].autoScaling.compute.minInstanceSize**.",
            "type": "boolean"
          }
        },
        "title": "Automatic Compute Scaling Settings",
        "type": "object"
      },
      "AlertAudit": {
        "description": "Alert audit indicates acknowledgement status of an alert.",
        "properties": {
          "alertId": {
            "description": "Unique 24-hexadecimal digit string that identifies the alert associated with the event.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "apiKeyId": {
            "description": "Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the **userId** parameter.",
            "example": "32b6e34b3d91647abb20e7b8",
            "externalDocs": {
              "description": "Create Programmatic API Key",
              "url": "https://dochub.mongodb.org/core/atlas-create-prog-api-key"
            },
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "created": {
            "description": "Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.",
            "externalDocs": {
              "description": "ISO 8601",
              "url": "https://en.wikipedia.org/wiki/ISO_8601"
            },
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "eventTypeName": {
            "$ref": "#/components/schemas/AlertAuditTypeView"
          },
          "groupId": {
            "description": "Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The **eventId** identifies the specific event.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Unique 24-hexadecimal digit string that identifies the event.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "isGlobalAdmin": {
            "description": "Flag that indicates whether a MongoDB employee triggered the specified event.",
            "readOnly": true,
            "type": "boolean"
          },
          "links": {
            "description": "List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.",
            "externalDocs": {
              "description": "Web Linking Specification (RFC 5988)",
              "url": "https://datatracker.ietf.org/doc/html/rfc5988"
            },
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "readOnly": true,
            "type": "array"
          },
          "orgId": {
            "description": "Unique 24-hexadecimal digit string that identifies the organization to which these events apply.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "publicKey": {
            "description": "Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.",
            "externalDocs": {
              "url": "https://dochub.mongodb.org/core/atlas-create-prog-api-key"
            },
            "readOnly": true,
            "type": "string"
          },
          "raw": {
            "$ref": "#/components/schemas/raw"
          },
          "remoteAddress": {
            "description": "IPv4 or IPv6 address from which the user triggered this event.",
            "example": "216.172.40.186",
            "pattern": "^((25[0-5]|(2[0-4]|1\\d|[1-9]|)\\d)(\\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$",
            "readOnly": true,
            "type": "string"
          },
          "userId": {
            "description": "Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the **apiKeyId** parameter.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "username": {
            "description": "Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the **publicApiKey** parameter.",
            "format": "email",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "created",
          "eventTypeName",
          "id"
        ],
        "title": "Alert Audits",
        "type": "object"
      },
      "AlertAuditTypeView": {
        "description": "Unique identifier of event type.",
        "enum": [
          "ALERT_ACKNOWLEDGED_AUDIT",
          "ALERT_UNACKNOWLEDGED_AUDIT"
        ],
        "example": "ALERT_ACKNOWLEDGED_AUDIT",
        "title": "Alert Audit Types",
        "type": "string"
      },
      "AlertConfigAudit": {
        "description": "Alert config audit indicates any activities around alert settings.",
        "properties": {
          "alertConfigId": {
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration associated with the **alertId**.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "apiKeyId": {
            "description": "Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the **userId** parameter.",
            "example": "32b6e34b3d91647abb20e7b8",
            "externalDocs": {
              "description": "Create Programmatic API Key",
              "url": "https://dochub.mongodb.org/core/atlas-create-prog-api-key"
            },
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "created": {
            "description": "Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.",
            "externalDocs": {
              "description": "ISO 8601",
              "url": "https://en.wikipedia.org/wiki/ISO_8601"
            },
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "eventTypeName": {
            "$ref": "#/components/schemas/AlertConfigAuditTypeView"
          },
          "groupId": {
            "description": "Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The **eventId** identifies the specific event.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Unique 24-hexadecimal digit string that identifies the event.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "isGlobalAdmin": {
            "description": "Flag that indicates whether a MongoDB employee triggered the specified event.",
            "readOnly": true,
            "type": "boolean"
          },
          "links": {
            "description": "List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.",
            "externalDocs": {
              "description": "Web Linking Specification (RFC 5988)",
              "url": "https://datatracker.ietf.org/doc/html/rfc5988"
            },
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "readOnly": true,
            "type": "array"
          },
          "orgId": {
            "description": "Unique 24-hexadecimal digit string that identifies the organization to which these events apply.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "publicKey": {
            "description": "Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.",
            "externalDocs": {
              "url": "https://dochub.mongodb.org/core/atlas-create-prog-api-key"
            },
            "readOnly": true,
            "type": "string"
          },
          "raw": {
            "$ref": "#/components/schemas/raw"
          },
          "remoteAddress": {
            "description": "IPv4 or IPv6 address from which the user triggered this event.",
            "example": "216.172.40.186",
            "pattern": "^((25[0-5]|(2[0-4]|1\\d|[1-9]|)\\d)(\\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$",
            "readOnly": true,
            "type": "string"
          },
          "userId": {
            "description": "Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the **apiKeyId** parameter.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "username": {
            "description": "Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the **publicApiKey** parameter.",
            "format": "email",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "created",
          "eventTypeName",
          "id"
        ],
        "title": "Alert Config Audits",
        "type": "object"
      },
      "AlertConfigAuditTypeView": {
        "description": "Unique identifier of event type.",
        "enum": [
          "ALERT_CONFIG_DISABLED_AUDIT",
          "ALERT_CONFIG_ENABLED_AUDIT",
          "ALERT_CONFIG_ADDED_AUDIT",
          "ALERT_CONFIG_DELETED_AUDIT",
          "ALERT_CONFIG_CHANGED_AUDIT"
        ],
        "example": "ALERT_CONFIG_ADDED_AUDIT",
        "title": "Alert Audit Types",
        "type": "string"
      },
      "ApiAtlasCloudProviderAccessFeatureUsageFeatureIdView": {
        "description": "Object that contains the identifying characteristics of the Amazon Web Services (AWS) Key Management Service (KMS). This field always returns a null value.",
        "nullable": true,
        "type": "object"
      },
      "ApiAtlasFTSAnalyzersViewManual": {
        "description": "Settings that describe one Atlas Search custom analyzer.",
        "properties": {
          "charFilters": {
            "description": "Filters that examine text one character at a time and perform filtering operations.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/charFilterhtmlStrip"
                },
                {
                  "$ref": "#/components/schemas/charFiltericuNormalize"
                },
                {
                  "$ref": "#/components/schemas/charFiltermapping"
                },
                {
                  "$ref": "#/components/schemas/charFilterpersian"
                }
              ],
              "type": "object"
            },
            "type": "array"
          },
          "name": {
            "description": "Human-readable name that identifies the custom analyzer. Names must be unique within an index, and must not start with any of the following strings:\n- `lucene.`\n- `builtin.`\n- `mongodb.`",
            "type": "string"
          },
          "tokenFilters": {
            "description": "Filter that performs operations such as:\n\n- Stemming, which reduces related words, such as \"talking\", \"talked\", and \"talks\" to their root word \"talk\".\n\n- Redaction, the removal of sensitive information from public documents.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/tokenFilterasciiFolding"
                },
                {
                  "$ref": "#/components/schemas/tokenFilterdaitchMokotoffSoundex"
                },
                {
                  "$ref": "#/components/schemas/tokenFilteredgeGram"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterEnglishPossessive"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterFlattenGraph"
                },
                {
                  "$ref": "#/components/schemas/tokenFiltericuFolding"
                },
                {
                  "$ref": "#/components/schemas/tokenFiltericuNormalizer"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterkStemming"
                },
                {
                  "$ref": "#/components/schemas/tokenFilterlength"
                },
                {
                  "$ref": "#/components/schemas/tokenFilterlowercase"
                },
                {
                  "$ref": "#/components/schemas/tokenFilternGram"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterPorterStemming"
                },
                {
                  "$ref": "#/components/schemas/tokenFilterregex"
                },
                {
                  "$ref": "#/components/schemas/tokenFilterreverse"
                },
                {
                  "$ref": "#/components/schemas/tokenFiltershingle"
                },
                {
                  "$ref": "#/components/schemas/tokenFiltersnowballStemming"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterSpanishPluralStemming"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterStempel"
                },
                {
                  "$ref": "#/components/schemas/tokenFilterstopword"
                },
                {
                  "$ref": "#/components/schemas/tokenFiltertrim"
                },
                {
                  "$ref": "#/components/schemas/TokenFilterWordDelimiterGraph"
                }
              ]
            },
            "type": "array"
          },
          "tokenizer": {
            "description": "Tokenizer that you want to use to create tokens. Tokens determine how Atlas Search splits up text into discrete chunks for indexing.",
            "discriminator": {
              "mapping": {
                "edgeGram": "#/components/schemas/tokenizeredgeGram",
                "keyword": "#/components/schemas/tokenizerkeyword",
                "nGram": "#/components/schemas/tokenizernGram",
                "regexCaptureGroup": "#/components/schemas/tokenizerregexCaptureGroup",
                "regexSplit": "#/components/schemas/tokenizerregexSplit",
                "standard": "#/components/schemas/tokenizerstandard",
                "uaxUrlEmail": "#/components/schemas/tokenizeruaxUrlEmail",
                "whitespace": "#/components/schemas/tokenizerwhitespace"
              },
              "propertyName": "type"
            },
            "oneOf": [
              {
                "$ref": "#/components/schemas/tokenizeredgeGram"
              },
              {
                "$ref": "#/components/schemas/tokenizerkeyword"
              },
              {
                "$ref": "#/components/schemas/tokenizernGram"
              },
              {
                "$ref": "#/components/schemas/tokenizerregexCaptureGroup"
              },
              {
                "$ref": "#/components/schemas/tokenizerregexSplit"
              },
              {
                "$ref": "#/components/schemas/tokenizerstandard"
              },
              {
                "$ref": "#/components/schemas/tokenizeruaxUrlEmail"
              },
              {
                "$ref": "#/components/schemas/tokenizerwhitespace"
              }
            ],
            "type": "object"
          }
        },
        "required": [
          "name",
          "tokenizer"
        ],
        "title": "analyzers",
        "type": "object"
      },
      "ApiAtlasFTSMappingsViewManual": {
        "description": "Index specifications for the collection's fields.",
        "properties": {
          "dynamic": {
            "default": false,
            "description": "Flag that indicates whether the index uses dynamic or static mappings. Required if **mappings.fields** is omitted.",
            "externalDocs": {
              "description": "Dynamic or Static Mappings",
              "url": "https://dochub.mongodb.org/core/index-definitions-fts#field-mapping-examples"
            },
            "type": "boolean"
          },
          "fields": {
            "additionalProperties": {
              "externalDocs": {
                "description": "Atlas Search Field Mappings",
                "url": "https://dochub.mongodb.org/core/field-mapping-definition-fts#define-field-mappings"
              },
              "type": "object"
            },
            "description": "One or more field specifications for the Atlas Search index. Required if **mappings.dynamic** is omitted or set to **false**.",
            "externalDocs": {
              "description": "Atlas Search Index",
              "url": "https://dochub.mongodb.org/core/index-definitions-fts"
            },
            "type": "object"
          }
        },
        "title": "mappings",
        "type": "object"
      },
      "ApiBSONTimestampView": {
        "description": "BSON timestamp that indicates when the checkpoint token entry in the oplog occurred.",
        "properties": {
          "date": {
            "description": "Date and time when the oplog recorded this database operation. This parameter expresses its value in the ISO 8601 timestamp format in UTC.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "increment": {
            "description": "Order of the database operation that the oplog recorded at specific date and time.",
            "example": 1199145600,
            "format": "int32",
            "minimum": 1199145600,
            "readOnly": true,
            "type": "integer"
          }
        },
        "readOnly": true,
        "title": "BSON Timestamp",
        "type": "object"
      },
      "ApiError": {
        "properties": {
          "badRequestDetail": {
            "$ref": "#/components/schemas/BadRequestDetail"
          },
          "detail": {
            "description": "Describes the specific conditions or reasons that cause each type of error.",
            "type": "string"
          },
          "error": {
            "description": "HTTP status code returned with this error.",
            "externalDocs": {
              "url": "https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"
            },
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "errorCode": {
            "description": "Application error code returned with this error.",
            "readOnly": true,
            "type": "string"
          },
          "parameters": {
            "description": "Parameters used to give more information about the error.",
            "items": {
              "readOnly": true,
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "reason": {
            "description": "Application error message returned with this error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "error",
          "errorCode"
        ],
        "type": "object"
      },
      "AppServiceMetricMatcher": {
        "description": "Rules to apply when comparing an app service metric against this alert configuration.",
        "properties": {
          "fieldName": {
            "$ref": "#/components/schemas/AppServiceMetricMatcherField"
          },
          "operator": {
            "description": "Comparison operator to apply when checking the current metric value against **matcher[n].value**.",
            "enum": [
              "EQUALS",
              "CONTAINS",
              "STARTS_WITH",
              "ENDS_WITH",
              "NOT_EQUALS",
              "NOT_CONTAINS",
              "REGEX"
            ],
            "type": "string"
          },
          "value": {
            "description": "Value to match or exceed using the specified **matchers.operator**.",
            "example": "event-replica-set",
            "type": "string"
          }
        },
        "required": [
          "fieldName",
          "operator",
          "value"
        ],
        "title": "Matchers",
        "type": "object"
      },
      "AppServiceMetricMatcherField": {
        "description": "Name of the parameter in the target object that MongoDB Cloud checks. The parameter must match all rules for MongoDB Cloud to check for alert configurations.",
        "enum": [
          "APPLICATION_ID"
        ],
        "example": "APPLICATION_ID",
        "title": "App Services Metric Matcher Fields",
        "type": "string"
      },
      "AtlasSearchAnalyzer": {
        "properties": {
          "charFilters": {
            "description": "Filters that examine text one character at a time and perform filtering operations.",
            "items": {
              "$ref": "#/components/schemas/BasicDBObject"
            },
            "type": "array"
          },
          "name": {
            "description": "Name that identifies the custom analyzer. Names must be unique within an index, and must not start with any of the following strings:\n- `lucene.`\n- `builtin.`\n- `mongodb.`",
            "type": "string"
          },
          "tokenFilters": {
            "description": "Filter that performs operations such as:\n\n- Stemming, which reduces related words, such as \"talking\", \"talked\", and \"talks\" to their root word \"talk\".\n\n- Redaction, which is the removal of sensitive information from public documents.",
            "items": {
              "$ref": "#/components/schemas/BasicDBObject"
            },
            "type": "array"
          },
          "tokenizer": {
            "additionalProperties": {
              "description": "Tokenizer that you want to use to create tokens. Tokens determine how Atlas Search splits up text into discrete chunks for indexing.",
              "type": "object"
            },
            "description": "Tokenizer that you want to use to create tokens. Tokens determine how Atlas Search splits up text into discrete chunks for indexing.",
            "type": "object"
          }
        },
        "required": [
          "name",
          "tokenizer"
        ],
        "title": "Atlas Search Analyzer",
        "type": "object"
      },
      "AuthFederationRoleMapping": {
        "description": "Mapping settings that link one IdP and MongoDB Cloud.",
        "properties": {
          "externalGroupName": {
            "description": "Unique human-readable label that identifies the identity provider group to which this role mapping applies.",
            "maxLength": 200,
            "minLength": 1,
            "type": "string"
          },
          "id": {
            "description": "Unique 24-hexadecimal digit string that identifies this role mapping.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "roleAssignments": {
            "description": "Atlas roles and the unique identifiers of the groups and organizations associated with each role. The array must include at least one element with an Organization role and its respective **orgId**. Each element in the array can have a value for **orgId** or **groupId**, but not both.",
            "items": {
              "$ref": "#/components/schemas/ConnectedOrgConfigRoleAssignment"
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "required": [
          "externalGroupName"
        ],
        "title": "Federated Authentication Role Mapping",
        "type": "object"
      },
      "AzureCloudProviderContainer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CloudProviderContainer"
          },
          {
            "properties": {
              "atlasCidrBlock": {
                "description": "IP addresses expressed in Classless Inter-Domain Routing (CIDR) notation that MongoDB Cloud uses for the network peering containers in your project. MongoDB Cloud assigns all of the project's clusters deployed to this cloud provider an IP address from this range. MongoDB Cloud locks this value if an M10 or greater cluster or a network peering connection exists in this project.\n\nThese CIDR blocks must fall within the ranges reserved per RFC 1918. AWS and Azure further limit the block to between the `/24` and  `/21` ranges.\n\nTo modify the CIDR block, the target project cannot have:\n\n- Any M10 or greater clusters\n- Any other VPC peering connections\n\n You can also create a new project and create a network peering connection to set the desired MongoDB Cloud network peering container CIDR block for that project. MongoDB Cloud limits the number of MongoDB nodes per network peering connection based on the CIDR block and the region selected for the project.\n\n **Example:** A project in an Amazon Web Services (AWS) region supporting three availability zones and an MongoDB CIDR network peering container block of limit of `/24` equals 27 three-node replica sets.",
                "pattern": "^((([0-9]{1,3}\\.){3}[0-9]{1,3})|(:{0,2}([0-9a-f]{1,4}:){0,7}[0-9a-f]{1,4}[:]{0,2}))((%2[fF]|/)[0-9]{1,3})+$",
                "type": "string"
              },
              "azureSubscriptionId": {
                "description": "Unique string that identifies the Azure subscription in which the MongoDB Cloud VNet resides.",
                "example": "32b6e34b3d91647abb20e7b8",
                "pattern": "^([a-f0-9]{24})$",
                "readOnly": true,
                "type": "string"
              },
              "region": {
                "description": "Azure region to which MongoDB Cloud deployed this network peering container.",
                "enum": [
                  "US_CENTRAL",
                  "US_EAST",
                  "US_EAST_2",
                  "US_EAST_2_EUAP",
                  "US_NORTH_CENTRAL",
                  "US_WEST",
                  "US_SOUTH_CENTRAL",
                  "EUROPE_NORTH",
                  "EUROPE_WEST",
                  "US_WEST_CENTRAL",
                  "US_WEST_2",
                  "US_WEST_3",
                  "CANADA_EAST",
                  "CANADA_CENTRAL",
                  "BRAZIL_SOUTH",
                  "BRAZIL_SOUTHEAST",
                  "AUSTRALIA_EAST",
                  "AUSTRALIA_SOUTH_EAST",
                  "AUSTRALIA_CENTRAL",
                  "AUSTRALIA_CENTRAL_2",
                  "UAE_NORTH",
                  "GERMANY_WEST_CENTRAL",
                  "GERMANY_NORTH",
                  "SWITZERLAND_NORTH",
                  "SWITZERLAND_WEST",
                  "SWEDEN_CENTRAL",
                  "SWEDEN_SOUTH",
                  "UK_SOUTH",
                  "UK_WEST",
                  "INDIA_CENTRAL",
                  "INDIA_WEST",
                  "INDIA_SOUTH",
                  "CHINA_EAST",
                  "CHINA_NORTH",
                  "ASIA_EAST",
                  "JAPAN_EAST",
                  "JAPAN_WEST",
                  "ASIA_SOUTH_EAST",
                  "KOREA_CENTRAL",
                  "KOREA_SOUTH",
                  "FRANCE_CENTRAL",
                  "FRANCE_SOUTH",
                  "SOUTH_AFRICA_NORTH",
                  "SOUTH_AFRICA_WEST",
                  "NORWAY_EAST",
                  "NORWAY_WEST",
                  "UAE_CENTRAL",
                  "QATAR_CENTRAL",
                  "POLAND_CENTRAL",
                  "ISRAEL_CENTRAL",
                  "ITALY_NORTH",
                  "SPAIN_CENTRAL",
                  "MEXICO_CENTRAL",
                  "NEW_ZEALAND_NORTH"
                ],
                "type": "string"
              },
              "vnetName": {
                "description": "Unique string that identifies the Azure VNet in which MongoDB Cloud clusters in this network peering container exist. The response returns **null** if no clusters exist in this network peering container.",
                "pattern": "^([-\\w._()])$",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "description": "Collection of settings that configures the network container for a virtual private connection on Amazon Web Services.",
        "required": [
          "atlasCidrBlock",
          "region"
        ],
        "title": "AZURE",
        "type": "object"
      },
      "AzureCloudProviderSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClusterProviderSettings"
          },
          {
            "properties": {
              "autoScaling": {
                "$ref": "#/components/schemas/CloudProviderAzureAutoScaling"
              },
              "diskTypeName": {
                "description": "Disk type that corresponds to the host's root volume for Azure instances. If omitted, the default disk type for the selected **providerSettings.instanceSizeName** applies.",
                "enum": [
                  "P2",
                  "P3",
                  "P4",
                  "P6",
                  "P10",
                  "P15",
                  "P20",
                  "P30",
                  "P40",
                  "P50"
                ],
                "externalDocs": {
                  "description": "Disk type",
                  "url": "https://docs.microsoft.com/en-us/azure/virtual-machines/premium-storage-performance#premium-storage-disk-sizes"
                },
                "type": "string"
              },
              "instanceSizeName": {
                "description": "Cluster tier, with a default storage and memory capacity, that applies to all the data-bearing hosts in your cluster.",
                "enum": [
                  "M10",
                  "M20",
                  "M30",
                  "M40",
                  "M50",
                  "M60",
                  "M80",
                  "M90",
                  "M200",
                  "R40",
                  "R50",
                  "R60",
                  "R80",
                  "R200",
                  "R300",
                  "R400",
                  "M60_NVME",
                  "M80_NVME",
                  "M200_NVME",
                  "M300_NVME",
                  "M400_NVME",
                  "M600_NVME"
                ],
                "title": "Azure Instance Sizes",
                "type": "string"
              },
              "regionName": {
                "description": "Microsoft Azure Regions.",
                "enum": [
                  "US_CENTRAL",
                  "US_EAST",
                  "US_EAST_2",
                  "US_NORTH_CENTRAL",
                  "US_WEST",
                  "US_SOUTH_CENTRAL",
                  "EUROPE_NORTH",
                  "EUROPE_WEST",
                  "US_WEST_CENTRAL",
                  "US_WEST_2",
                  "US_WEST_3",
                  "CANADA_EAST",
                  "CANADA_CENTRAL",
                  "BRAZIL_SOUTH",
                  "BRAZIL_SOUTHEAST",
                  "AUSTRALIA_CENTRAL",
                  "AUSTRALIA_CENTRAL_2",
                  "AUSTRALIA_EAST",
                  "AUSTRALIA_SOUTH_EAST",
                  "GERMANY_WEST_CENTRAL",
                  "GERMANY_NORTH",
                  "SWEDEN_CENTRAL",
                  "SWEDEN_SOUTH",
                  "SWITZERLAND_NORTH",
                  "SWITZERLAND_WEST",
                  "UK_SOUTH",
                  "UK_WEST",
                  "NORWAY_EAST",
                  "NORWAY_WEST",
                  "INDIA_CENTRAL",
                  "INDIA_SOUTH",
                  "INDIA_WEST",
                  "CHINA_EAST",
                  "CHINA_NORTH",
                  "ASIA_EAST",
                  "JAPAN_EAST",
                  "JAPAN_WEST",
                  "ASIA_SOUTH_EAST",
                  "KOREA_CENTRAL",
                  "KOREA_SOUTH",
                  "FRANCE_CENTRAL",
                  "FRANCE_SOUTH",
                  "SOUTH_AFRICA_NORTH",
                  "SOUTH_AFRICA_WEST",
                  "UAE_CENTRAL",
                  "UAE_NORTH",
                  "QATAR_CENTRAL"
                ],
                "externalDocs": {
                  "description": "Azure",
                  "url": "https://docs.atlas.mongodb.com/reference/microsoft-azure/"
                },
                "title": "Azure Regions",
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "AzureComputeAutoScalingRules": {
        "description": "Collection of settings that configures how a cluster might scale its cluster tier and whether the cluster can scale down. Cluster tier auto-scaling is unavailable for clusters using Low CPU or NVME storage classes.",
        "properties": {
          "maxInstanceSize": {
            "description": "Maximum instance size to which your cluster can automatically scale.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M90",
              "M200",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M300_NVME",
              "M400_NVME",
              "M600_NVME"
            ],
            "title": "Azure Instance Sizes",
            "type": "string"
          },
          "minInstanceSize": {
            "description": "Minimum instance size to which your cluster can automatically scale.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M90",
              "M200",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M300_NVME",
              "M400_NVME",
              "M600_NVME"
            ],
            "title": "Azure Instance Sizes",
            "type": "string"
          }
        },
        "title": "Azure",
        "type": "object"
      },
      "AzureCreateDataProcessRegionView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateDataProcessRegionView"
          },
          {
            "properties": {
              "region": {
                "description": "Human-readable label that identifies the geographic location of the region where you wish to store your archived data.",
                "enum": [
                  "US_EAST_2",
                  "EUROPE_WEST"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "AzureDataProcessRegionView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DataProcessRegionView"
          },
          {
            "properties": {
              "region": {
                "description": "Human-readable label that identifies the geographic location of the region where you store your archived data.",
                "enum": [
                  "US_EAST_2",
                  "EUROPE_WEST"
                ],
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "AzureHardwareSpec": {
        "properties": {
          "diskIOPS": {
            "description": "Target throughput desired for storage attached to your Azure-provisioned cluster. Change this parameter if you:\n\n- set `\"replicationSpecs[n].regionConfigs[m].providerName\" : \"Azure\"`.\n- set `\"replicationSpecs[n].regionConfigs[m].electableSpecs.instanceSize\" : \"M40\"` or greater not including `Mxx_NVME` tiers.\n\nThe maximum input/output operations per second (IOPS) depend on the selected **.instanceSize** and **.diskSizeGB**.\nThis parameter defaults to the cluster tier's standard IOPS value.\nChanging this value impacts cluster cost.",
            "externalDocs": {
              "description": "Programmatic API Keys",
              "url": "https://www.mongodb.com/docs/atlas/customize-storage/#extend-iops-on-azure"
            },
            "format": "int32",
            "type": "integer"
          },
          "instanceSize": {
            "description": "Hardware specification for the instance sizes in this region. Each instance size has a default storage and memory capacity. The instance size you select applies to all the data-bearing hosts of the node type.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M90",
              "M200",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M300_NVME",
              "M400_NVME",
              "M600_NVME"
            ],
            "title": "Azure Instance Sizes",
            "type": "string"
          },
          "nodeCount": {
            "description": "Number of nodes of the given type for MongoDB Cloud to deploy to the region.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AzureHardwareSpec20240805": {
        "properties": {
          "diskIOPS": {
            "description": "Target throughput desired for storage attached to your Azure-provisioned cluster. Change this parameter if you:\n\n- set `\"replicationSpecs[n].regionConfigs[m].providerName\" : \"Azure\"`.\n- set `\"replicationSpecs[n].regionConfigs[m].electableSpecs.instanceSize\" : \"M40\"` or greater not including `Mxx_NVME` tiers.\n\nThe maximum input/output operations per second (IOPS) depend on the selected **.instanceSize** and **.diskSizeGB**.\nThis parameter defaults to the cluster tier's standard IOPS value.\nChanging this value impacts cluster cost.",
            "externalDocs": {
              "description": "Programmatic API Keys",
              "url": "https://www.mongodb.com/docs/atlas/customize-storage/#extend-iops-on-azure"
            },
            "format": "int32",
            "type": "integer"
          },
          "diskSizeGB": {
            "description": "Storage capacity of instance data volumes expressed in gigabytes. Increase this number to add capacity.\n\n This value must be equal for all shards and node types.\n\n This value is not configurable on M0/M2/M5 clusters.\n\n MongoDB Cloud requires this parameter if you set **replicationSpecs**.\n\n If you specify a disk size below the minimum (10 GB), this parameter defaults to the minimum disk size value. \n\n Storage charge calculations depend on whether you choose the default value or a custom value.\n\n The maximum value for disk storage cannot exceed 50 times the maximum RAM for the selected cluster. If you require more storage space, consider upgrading your cluster to a higher tier.",
            "externalDocs": {
              "description": "Customize Storage",
              "url": "https://dochub.mongodb.org/core/customize-storage"
            },
            "format": "double",
            "type": "number"
          },
          "instanceSize": {
            "description": "Hardware specification for the instance sizes in this region in this shard. Each instance size has a default storage and memory capacity. Electable nodes and read-only nodes (known as \"base nodes\") within a single shard must use the same instance size. Analytics nodes can scale independently from base nodes within a shard. Both base nodes and analytics nodes can scale independently from their equivalents in other shards.",
            "enum": [
              "M10",
              "M20",
              "M30",
              "M40",
              "M50",
              "M60",
              "M80",
              "M90",
              "M200",
              "R40",
              "R50",
              "R60",
              "R80",
              "R200",
              "R300",
              "R400",
              "M60_NVME",
              "M80_NVME",
              "M200_NVME",
              "M300_NVME",
              "M400_NVME",
              "M600_NVME"
            ],
            "title": "Azure Instance Sizes",
            "type": "string"
          },
          "nodeCount": {
            "description": "Number of nodes of the given type for MongoDB Cloud to deploy to the region.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AzureRegionConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CloudRegionConfig"
          },
          {
            "properties": {
              "analyticsAutoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "analyticsSpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec"
              },
              "autoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "readOnlySpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec"
              }
            },
            "type": "object"
          }
        ],
        "description": "Details that explain how MongoDB Cloud replicates data in one region on the specified MongoDB database.",
        "title": "Azure Regional Replication Specifications",
        "type": "object"
      },
      "AzureRegionConfig20240805": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CloudRegionConfig20240805"
          },
          {
            "properties": {
              "analyticsAutoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "analyticsSpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec20240805"
              },
              "autoScaling": {
                "$ref": "#/components/schemas/AdvancedAutoScalingSettings"
              },
              "readOnlySpecs": {
                "$ref": "#/components/schemas/DedicatedHardwareSpec20240805"
              }
            },
            "type": "object"
          }
        ],
        "description": "Details that explain how MongoDB Cloud replicates data in one region on the specified MongoDB database.",
        "title": "Azure Regional Replication Specifications",
        "type": "object"
      },
      "BackupRestoreJob": {
        "properties": {
          "batchId": {
            "description": "Unique 24-hexadecimal digit string that identifies the batch to which this restore job belongs. This parameter exists only for a sharded cluster restore.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "checkpointId": {
            "description": "Unique 24-hexadecimal digit string that identifies the sharded cluster checkpoint. The checkpoint represents the point in time back to which you want to restore you data. This parameter applies when `\"delivery.methodName\" : \"AUTOMATED_RESTORE\"`. Use this parameter with sharded clusters only.\n\n- If you set **checkpointId**, you can't set **oplogInc**, **oplogTs**, **snapshotId**, or **pointInTimeUTCMillis**.\n- If you provide this parameter, this endpoint restores all data up to this checkpoint to the database you specify in the **delivery** object.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "type": "string",
            "writeOnly": true
          },
          "clusterId": {
            "description": "Unique 24-hexadecimal digit string that identifies the cluster with the snapshot you want to return. This parameter returns for restore clusters.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "clusterName": {
            "description": "Human-readable label that identifies the cluster containing the snapshots you want to retrieve.",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$",
            "readOnly": true,
            "type": "string"
          },
          "created": {
            "description": "Date and time when someone requested this restore job. This parameter expresses its value in the ISO 8601 timestamp format in UTC.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "delivery": {
            "$ref": "#/components/schemas/BackupRestoreJobDelivery"
          },
          "encryptionEnabled": {
            "description": "Flag that indicates whether someone encrypted the data in the restored snapshot.",
            "readOnly": true,
            "type": "boolean"
          },
          "groupId": {
            "description": "Unique 24-hexadecimal digit string that identifies the project that owns the snapshots.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "hashes": {
            "description": "List that contains documents mapping each restore file to a hashed checksum. This parameter applies after you download the corresponding **delivery.url**. If `\"methodName\" : \"HTTP\"`, this list contains one object that represents the hash of the **.tar.gz** file.",
            "items": {
              "$ref": "#/components/schemas/RestoreJobFileHash"
            },
            "readOnly": true,
            "type": "array"
          },
          "id": {
            "description": "Unique 24-hexadecimal digit string that identifies the restore job.",
            "example": "32b6e34b3d91647abb20e7b8",
            "pattern": "^([a-f0-9]{24})$",
            "readOnly": true,
            "type": "string"
          },
          "links": {
            "description": "List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.",
            "externalDocs": {
              "description": "Web Linking Specification (RFC 5988)",
              "url": "https://datatracker.ietf.org/doc/html/rfc5988"
            },
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "readOnly": true,
            "type": "array"
          },
          "masterKeyUUID": {
            "description": "Universally Unique Identifier (UUID) that identifies the Key Management Interoperability (KMIP) master key used to encrypt the snapshot data. This parameter applies only when `\"encryptionEnabled\" : \"true\"`.",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
[...]
