{
  "openapi": "3.0.1",
  "info": {
    "title": "MongoDB Atlas Administration API",
    "description": "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API uses HTTP Digest Authentication to authenticate requests. Provide a programmatic API public key and corresponding private key as the username and password when constructing the HTTP request. For example, to [return database access history](#tag/Access-Tracking/operation/listAccessLogsByClusterName) with [cURL](https://en.wikipedia.org/wiki/CURL), run the following command in the terminal:\n\n```\ncurl --user \"{PUBLIC-KEY}:{PRIVATE-KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.2025-01-01+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dbAccessHistory/clusters/{clusterName}?pretty=true\"\n```\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).",
    "termsOfService": "https://www.mongodb.com/mongodb-management-service-terms-and-conditions",
    "license": {
      "name": "CC BY-NC-SA 3.0 US",
      "url": "https://creativecommons.org/licenses/by-nc-sa/3.0/us/"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://cloud.mongodb.com"
    }
  ],
  "tags": [
    {
      "name": "Access Tracking",
      "description": "Returns access logs for authentication attempts made to Atlas database deployments. To view database access history, you must have either the Project Owner or Organization Owner role."
    },
    {
      "name": "Alert Configurations",
      "description": "Returns and edits the conditions that trigger alerts and how MongoDB Cloud notifies users. This collection remains under revision and may change."
    },
    {
      "name": "Alerts",
      "description": "Returns and acknowledges alerts that MongoDB Cloud triggers based on the alert conditions that you define. This collection remains under revision and may change."
    },
    {
      "name": "Atlas Search",
      "description": "Returns, adds, edits, and removes Atlas Search indexes for the specified cluster. Also returns and updates user-defined analyzers for the specified cluster."
    },
    {
      "name": "Auditing",
      "description": "Returns and edits database auditing settings for MongoDB Cloud projects."
    },
    {
      "name": "AWS Clusters DNS",
      "description": "Returns and edits custom DNS configurations for MongoDB Cloud database deployments on AWS. The resource requires your Project ID. If you use the VPC peering on AWS and you use your own DNS servers instead of Amazon Route 53, enable custom DNS. Before 31 March 2020, applications deployed within AWS using custom DNS services and VPC-peered with MongoDB Cloud couldn't connect over private IP addresses. Custom DNS resolved to public IP addresses. AWS internal DNS resolved to private IP addresses. Applications deployed with custom DNS services in AWS should use Private IP for Peering connection strings."
    },
    {
      "name": "Cloud Backups",
      "description": "Manages Cloud Backup snapshots, snapshot export buckets, restore jobs, and schedules. This resource applies only to clusters that use Cloud Backups."
    },
    {
      "name": "Cloud Migration Service",
      "description": "Manages the Cloud Migration Service. Source organizations, projects, and MongoDB clusters reside on Cloud Manager or Ops Manager. Destination organizations, projects, and MongoDB clusters reside on MongoDB Cloud. Source databases can't use any authentication except SCRAM-SHA."
    },
    {
      "name": "Cloud Provider Access",
      "description": "Returns, adds, authorizes, and removes AWS IAM roles in Atlas."
    },
    {
      "name": "Cluster Outage Simulation",
      "description": "Returns, starts, or ends a cluster outage simulation."
    },
    {
      "name": "Clusters",
      "description": "Returns, adds, edits, and removes database deployments. Changes to cluster configurations can affect costs. This resource requires your Project ID."
    },
    {
      "name": "Collection Level Metrics",
      "description": "Returns, adds, and edits pinned namespaces for the specified cluster or process. Also returns collection level latency metric data."
    },
    {
      "name": "Custom Database Roles",
      "description": "Returns, adds, edits, and removes custom database user privilege roles. Use custom roles to specify custom sets of actions that the MongoDB Cloud built-in roles can't describe. You define custom roles at the project level, for all clusters in the project. This resource supports a subset of MongoDB privilege actions. You can create a subset of custom role actions. To create a wider list of custom role actions, use the MongoDB Cloud user interface. Custom roles must include actions that all project's clusters support, and that are compatible with each MongoDB version that your project's clusters use. For example, if your project has MongoDB 4.2 clusters, you can't create custom roles that use actions introduced in MongoDB 4.4."
    },
    {
      "name": "Data Federation",
      "description": "Returns, adds, edits, and removes Federated Database Instances. This resource requires your project ID. Changes to federated database instance configurations can affect costs."
    },
    {
      "name": "Data Lake Pipelines",
      "description": "Returns, adds, edits, and removes Atlas Data Lake Pipelines and associated runs."
    },
    {
      "name": "Database Users",
      "description": "Returns, adds, edits, and removes database users."
    },
    {
      "name": "Encryption at Rest using Customer Key Management",
      "description": "Returns and edits the Encryption at Rest using Customer Key Management configuration. MongoDB Cloud encrypts all storage whether or not you use your own key management."
    },
    {
      "name": "Events",
      "description": "Returns events. This collection remains under revision and may change."
    },
    {
      "name": "Federated Authentication",
      "description": "Returns, adds, edits, and removes federation-related features such as role mappings and connected organization configurations."
    },
    {
      "name": "Global Clusters",
      "description": "Returns, adds, and removes Global Cluster managed namespaces and custom zone mappings. Each collection in a Global Cluster is associated with a managed namespace. When you create a managed namespace for a Global Cluster, MongoDB Cloud creates an empty collection for that namespace. Creating a managed namespace doesn't populate a collection with data. Similarly, deleting a managed namespace doesn't delete the associated collection.\nMongoDB Cloud shards the empty collection using the required location field and a custom shard key. For example, if your custom shard key is `city`, the compound shard key is `location, city`. Each Global Cluster is also associated with one or more Global Writes Zones. When a user creates a Global Cluster, MongoDB Cloud automatically maps each location code to the closest geographical zone. Custom zone mappings allow administrators to override these automatic mappings. For example, a use case might require mapping a location code to a geographically distant zone. Administrators can manage custom zone mappings with the APIs below and the **Global Cluster Configuration** pane when you create or modify your Global Cluster."
    },
    {
      "name": "Invoices",
      "description": "Returns invoices."
    },
    {
      "name": "LDAP Configuration",
      "description": "Returns, edits, verifies, and removes LDAP configurations. An LDAP configuration defines settings for MongoDB Cloud to connect to your LDAP server over TLS for user authentication and authorization. Your LDAP server must be visible to the internet or connected to your MongoDB Cloud cluster with VPC Peering. Also, your LDAP server must use TLS. You must have the MongoDB Cloud admin user privilege to use these endpoints. Also, to configure user authentication and authorization with LDAPS, your cluster must run MongoDB 3.6 or higher. Groups for which you have configured LDAPS can't create a cluster using a version of MongoDB 3.6 or lower."
    },
    {
      "name": "Legacy Backup",
      "description": "Manages Legacy Backup snapshots, restore jobs, schedules and checkpoints."
    },
    {
      "name": "Maintenance Windows",
      "description": "Returns, edits, and removes maintenance windows. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. You can defer a scheduled maintenance event for a project up to two times. Deferred maintenance events occur during your preferred maintenance window exactly one week after the previously scheduled date and time."
    },
    {
      "name": "MongoDB Cloud Users",
      "description": "Returns, adds, and edits MongoDB Cloud users."
    },
    {
      "name": "Monitoring and Logs",
      "description": "Returns database deployment monitoring and logging data."
    },
    {
      "name": "Network Peering",
      "description": "Returns, adds, edits, and removes network peering containers and peering connections.\nWhen you deploy an M10+ dedicated cluster, Atlas creates a VPC for the selected provider and region or regions if no existing VPC or VPC peering connection exists for that provider and region. Atlas assigns the VPC a Classless Inter-Domain Routing (CIDR) block."
    },
    {
      "name": "Online Archive",
      "description": "Returns, adds, edits, or removes an online archive."
    },
    {
      "name": "Organizations",
      "description": "Returns, adds, and edits organizational units in MongoDB Cloud."
    },
    {
      "name": "Performance Advisor",
      "description": "Returns suggested indexes and slow query data for a database deployment. Also enables or disables MongoDB Cloud-managed slow operation thresholds. To view field values in a sample query, you must have the Project Data Access Read Only role or higher. Otherwise, MongoDB Cloud returns redacted data rather than the field values."
    },
    {
      "name": "Private Endpoint Services",
      "description": "Returns, adds, edits, and removes private endpoint services."
    },
    {
      "name": "Programmatic API Keys",
      "description": "Returns, adds, edits, and removes access tokens to use the MongoDB Cloud API. MongoDB Cloud applies these keys to organizations. These resources can return, assign, or revoke use of these keys within a specified project."
    },
    {
      "name": "Project IP Access List",
      "description": "Returns, adds, edits, and removes network access limits to database deployments in Atlas. This resource replaces the whitelist resource. Atlas removed whitelists in July 2021. Update your applications to use this new resource. This resource manages a project's IP Access List and supports creating temporary Access List entries that automatically expire within a user-configurable 7-day period."
    },
    {
      "name": "Projects",
      "description": "Returns, adds, and edits collections of clusters and users in MongoDB Cloud."
    },
    {
      "name": "Push-Based Log Export",
      "description": "You can continually push logs from mongod, mongos, and audit logs to an AWS S3 bucket. Atlas exports logs every 5 minutes."
    },
    {
      "name": "Rolling Index",
      "description": "Creates one index to a database deployment in a rolling manner. You can't create a rolling index on an `M0` free cluster or `M2/M5` shared cluster."
    },
    {
      "name": "Root",
      "description": "Returns details that describe the MongoDB Cloud build and the access token that requests this resource. This starts the MongoDB Cloud API."
    },
    {
      "name": "Serverless Instances",
      "description": "Returns, adds, edits, and removes serverless instances."
    },
    {
      "name": "Serverless Private Endpoints",
      "description": "Returns, adds, edits, and removes private endpoints for serverless instances. To learn more, see the Atlas Administration API tab on the following tutorial.",
      "externalDocs": {
        "description": "Set Up a Private Endpoint for a Serverless Instance Tutorial",
        "url": "https://dochub.mongodb.org/core/serverless-private-endpoint"
      }
    },
    {
      "name": "Shared-Tier Restore Jobs",
      "description": "Returns and adds restore jobs for shared-tier database deployments."
    },
    {
      "name": "Shared-Tier Snapshots",
      "description": "Returns and requests to download shared-tier database deployment snapshots."
    },
    {
      "name": "Streams",
      "description": "Returns, adds, edits, and removes Streams Instances. This resource requires your project ID."
    },
    {
      "name": "Teams",
      "description": "Returns, adds, edits, or removes teams."
    },
    {
      "name": "Test",
      "description": "Atlas test endpoints."
    },
    {
      "name": "Third-Party Integrations",
      "description": "Returns, adds, edits, and removes third-party service integration configurations. MongoDB Cloud sends alerts to each third-party service that you configure.\n\n**IMPORTANT**: Each project can only have one configuration per integrationType."
    },
    {
      "name": "X.509 Authentication",
      "description": "Returns, edits, and removes user-managed X.509 configurations. Also returns and generates MongoDB Cloud-managed X.509 certificates for database users. The following resources help manage database users who authenticate using X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud do it for you. If MongoDB Cloud manages your certificates, it also manages your Certificate Authority and can generate certificates for your database users. No additional X.509 configuration is required. If you manage your certificates, you must provide a Certificate Authority and generate certificates for your database users.",
      "externalDocs": {
        "description": "Self-Managed X.509 Certificates",
        "url": "https://www.mongodb.com/docs/atlas/security-self-managed-x509/"
      }
    }
  ],
  "paths": {
    "/api/atlas/v2/eventTypes": {
      "get": {
        "tags": ["Events"],
        "summary": "List All Possible Event Types",
        "description": "Returns a list of all event types, along with a description and additional metadata about each event.",
        "operationId": "listEventTypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEventTypeDetailsResponse"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Return All Events from One Project",
        "description": "Returns one event for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listProjectEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "clusterNames",
            "in": "query",
            "description": "Human-readable label that identifies the cluster.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 64,
                "minLength": 1,
                "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$",
                "type": "string"
              }
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Category of incident recorded at this moment in time.\n\n**IMPORTANT**: The complete list of event type values changes frequently.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventTypeForNdsGroup"
              }
            }
          },
          {
            "name": "excludedEventType",
            "in": "query",
            "description": "Category of event that you would like to exclude from query results, such as CLUSTER_CREATED\n\n**IMPORTANT**: Event type names change frequently. Verify that you specify the event type correctly by checking the complete list of event types.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventTypeForNdsGroup"
              }
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud stops returning events. This parameter uses the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO 8601</a> timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "minDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud starts returning events. This parameter uses the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO 8601</a> timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPaginatedEventView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/events/{eventId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Return One Event from One Project",
        "description": "Returns one event for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "getProjectEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the event that you want to return. Use the [/events](#tag/Events/operation/listProjectEvents) endpoint to retrieve all events to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/EventViewForNdsGroup"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Return All Events from One Organization",
        "description": "Returns all events for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting API Key must have the Organization Member role.\n\nThis resource remains under revision and may change.",
        "operationId": "listOrganizationEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Category of incident recorded at this moment in time.\n\n**IMPORTANT**: The complete list of event type values changes frequently.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventTypeForOrg"
              }
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud stops returning events. This parameter uses the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO 8601</a> timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "minDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud starts returning events. This parameter uses the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO 8601</a> timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-11-17T23:15:00.060Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgPaginatedEventView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/events/{eventId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Return One Event from One Organization",
        "description": "Returns one event for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting API Key must have the Organization Member role.\n\nThis resource remains under revision and may change.",
        "operationId": "getOrganizationEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the event that you want to return. Use the [/events](#tag/Events/operation/listOrganizationEvents) endpoint to retrieve all events to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/EventViewForOrg"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}/alerts": {
      "get": {
        "tags": ["Alerts"],
        "summary": "Return All Open Alerts for Alert Configuration",
        "description": "Returns all open alerts that the specified alert configuration triggers. These alert configurations apply to the specified project only. Alert configurations define the triggers and notification methods for alerts. Open alerts have been triggered but remain unacknowledged. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listAlertsByAlertConfigurationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/alerts/{alertId}": {
      "get": {
        "tags": ["Alerts"],
        "summary": "Return One Alert from One Project",
        "description": "Returns one alert. This alert applies to any component in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "getAlert",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert. Use the [/alerts](#tag/Alerts/operation/listAlerts) endpoint to retrieve all alerts to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertViewForNdsGroup"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      },
      "patch": {
        "tags": ["Alerts"],
        "summary": "Acknowledge One Alert from One Project",
        "description": "Confirms receipt of one existing alert. This alert applies to any component in one project. Acknowledging an alert prevents successive notifications. You receive an alert when a monitored component meets or exceeds a value you set until you acknowledge the alert. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId": "acknowledgeAlert",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert. Use the [/alerts](#tag/Alerts/operation/listAlerts) endpoint to retrieve all alerts to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Acknowledges or unacknowledges one alert.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/AlertView"
              }
            },
            "application/vnd.atlas.2024-05-30+json": {
              "schema": {
                "$ref": "#/components/schemas/AcknowledgeAlert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertViewForNdsGroup"
                },
                "x-xgen-version": "2023-01-01",
                "x-sunset": "2025-05-30"
              },
              "application/vnd.atlas.2024-05-30+json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertViewForNdsGroup"
                },
                "x-xgen-version": "2024-05-30"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/alerts": {
      "get": {
        "tags": ["Alerts"],
        "summary": "Return All Alerts from One Project",
        "description": "Returns all alerts. These alerts apply to all components in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listAlerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the alerts to return. Omit to return all alerts in all statuses.",
            "schema": {
              "type": "string",
              "enum": ["OPEN", "TRACKING", "CLOSED"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/alerts/{alertId}/alertConfigs": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return All Alert Configurations Set for One Alert",
        "description": "Returns all alert configurations set for the specified alert. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listAlertConfigurationsByAlertId",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert. Use the [/alerts](#tag/Alerts/operation/listAlerts) endpoint to retrieve all alerts to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertConfigView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/alertConfigs/matchers/fieldNames": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Get All Alert Configuration Matchers Field Names",
        "description": "Get all field names that the `matchers.fieldName` parameter accepts when you create or update an Alert Configuration. You can successfully call this endpoint with any assigned role.",
        "operationId": "listAlertConfigurationMatchersFieldNames",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatcherFieldView"
                  }
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/alertConfigs": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return All Alert Configurations for One Project",
        "description": "Returns all alert configurations for one project. These alert configurations apply to any component in the project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listAlertConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertConfigView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      },
      "post": {
        "tags": ["Alert Configurations"],
        "summary": "Create One Alert Configuration in One Project",
        "description": "Creates one alert configuration for the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId": "createAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Creates one alert configuration for the specified project.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAlertsConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return One Alert Configuration from One Project",
        "description": "Returns the specified alert configuration from the specified project. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "getAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      },
      "put": {
        "tags": ["Alert Configurations"],
        "summary": "Update One Alert Configuration for One Project",
        "description": "Updates one alert configuration in the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\n**NOTE**: To enable or disable the alert configuration, see [Toggle One State of One Alert Configuration in One Project](#tag/Alert-Configurations/operation/toggleAlertConfiguration).\n\nThis resource remains under revision and may change.",
        "operationId": "updateAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "requestBody": {
          "description": "Updates one alert configuration in the specified project.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAlertsConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      },
      "delete": {
        "tags": ["Alert Configurations"],
        "summary": "Remove One Alert Configuration from One Project",
        "description": "Removes one alert configuration from the specified project. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId": "deleteAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      },
      "patch": {
        "tags": ["Alert Configurations"],
        "summary": "Toggle One State of One Alert Configuration in One Project",
        "description": "Enables or disables the specified alert configuration in the specified project. The resource enables the specified alert configuration if currently enabled. The resource disables the specified alert configuration if currently disabled. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\n**NOTE**: This endpoint updates only the enabled/disabled state for the alert configuration. To update more than just this configuration, see [Update One Alert Configuration](#tag/Alert-Configurations/operation/updateAlertConfiguration).\n\nThis resource remains under revision and may change.",
        "operationId": "toggleAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration that triggered this alert. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "requestBody": {
          "description": "Enables or disables the specified alert configuration in the specified project.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/AlertsToggle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "CAP"
      }
    },
    "/api/atlas/v2/groups/{groupId}/serviceAccounts/{serviceAccountId}": {
      "get": {
        "tags": ["Groups"],
        "summary": "Service Account Fetching",
        "description": "Get project Service Account Details.",
        "operationId": "getProjectServiceAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupServiceAccount"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "post": {
        "tags": ["Groups"],
        "summary": "Assign One Service Account to One Project",
        "description": "Assigns the specified organization Service Account to the specified project.",
        "operationId": "addProjectServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Service Account Roles to be assigned to the specified project.",
          "content": {
            "application/vnd.atlas.2023-10-01+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GroupServiceAccountRoleAssignment"
                }
              },
              "x-xgen-version": "2023-10-01"
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body.",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoBody"
                },
                "x-xgen-version": "2023-10-01"
              }
            },
            "x-xgen-version": "2023-10-01"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "delete": {
        "tags": ["Groups"],
        "summary": "Unassign One Service Account from One Project.",
        "description": "Removes one Service Account from the specified project.",
        "operationId": "deleteProjectServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body.",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoBody"
                },
                "x-xgen-version": "2023-10-01"
              }
            },
            "x-xgen-version": "2023-10-01"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "patch": {
        "tags": ["Groups"],
        "summary": "Service Account Update in Project",
        "description": "Update Service Account in Project.",
        "operationId": "updateProjectServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to update service account in the specified Project.",
          "content": {
            "application/vnd.atlas.2023-10-01+json": {
              "schema": {
                "$ref": "#/components/schemas/GroupServiceAccountUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupServiceAccount"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/groups/{groupId}/serviceAccounts": {
      "get": {
        "tags": ["Groups"],
        "summary": "Return All project Service Accounts",
        "description": "Returns list of Service Accounts for a project with service account details.",
        "operationId": "listProjectServiceAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/envelope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedGroupServiceAccounts"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "post": {
        "tags": ["Groups"],
        "summary": "Create and Assign one Service Account to one project",
        "description": "Creates and assigns the specified Service Account to the specified Project.",
        "operationId": "createProjectServiceAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to create service account and add to the specified project.",
          "content": {
            "application/vnd.atlas.2023-10-01+json": {
              "schema": {
                "$ref": "#/components/schemas/GroupServiceAccountRequest"
              },
              "x-xgen-version": "2023-10-01"
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupServiceAccount"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/serviceAccounts/{serviceAccountId}/secrets": {
      "post": {
        "tags": ["Organizations"],
        "summary": "Service Account Secret Creation",
        "description": "Create Service Account secret.",
        "operationId": "createServiceAccountSecret",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to create secret in the specified service account.",
          "content": {
            "application/vnd.atlas.2023-10-01+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountSecretRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountSecret"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/serviceAccounts/{serviceAccountId}/secrets/{secretId}": {
      "delete": {
        "tags": ["Organizations"],
        "summary": "Service Account Secret Deletion.",
        "description": "Delete Service Account Secret.",
        "operationId": "deleteServiceAccountSecret",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secretId",
            "in": "path",
            "description": "Id of the secret.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body.",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/serviceAccounts": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Return All Service Accounts",
        "description": "Returns list of Service Accounts with service account details.",
        "operationId": "listServiceAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/envelope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrgServiceAccounts"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "post": {
        "tags": ["Organizations"],
        "summary": "Service Account Creation",
        "description": "Create Service Account containing client id and client secrets.",
        "operationId": "createServiceAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to create service account in the specified organization.",
          "content": {
            "application/vnd.atlas.2023-10-01+json": {
              "schema": {
                "$ref": "#/components/schemas/OrgServiceAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgServiceAccount"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/serviceAccounts/{serviceAccountId}": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Service Account Fetching",
        "description": "Get Service Account Details.",
        "operationId": "getServiceAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgServiceAccount"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "delete": {
        "tags": ["Organizations"],
        "summary": "Service Account Deletion.",
        "description": "Delete Service Account.",
        "operationId": "deleteServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body.",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      },
      "patch": {
        "tags": ["Organizations"],
        "summary": "Service Account Update",
        "description": "Update Service Account.",
        "operationId": "updateServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to update service account in the specified organization.",
          "content": {
            "application/vnd.atlas.2023-10-01+json": {
              "schema": {
                "$ref": "#/components/schemas/OrgServiceAccountUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgServiceAccount"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/serviceAccounts/{serviceAccountId}/groups": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Return All Service Account projects",
        "description": "Returns list of Service Account projects.",
        "operationId": "listServiceAccountProjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Id of the service account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/envelope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-10-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedServiceAccountGroup"
                },
                "x-xgen-version": "2023-10-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/billing/costExplorer/usage": {
      "post": {
        "tags": ["Invoices"],
        "summary": "Create Cost Explorer query process",
        "description": "Creates a query process within the Cost Explorer for the given parameters. A token is returned that can be used to poll the status of the query and eventually retrieve the results.",
        "operationId": "createCostExplorerQueryProcess",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          }
        ],
        "requestBody": {
          "description": "Filter parameters for the Cost Explorer query.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/CostExplorerFilterRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/CostExplorerFilterResponseView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "Billing Platform"
      }
    },
    "/api/atlas/v2/orgs/{orgId}/billing/costExplorer/usage/{token}": {
      "get": {
        "tags": ["Invoices"],
        "summary": "Return results from a given Cost Explorer query, or notify that the results are not ready yet.",
        "description": "Returns the usage details for a Cost Explorer query, if the query is finished and the data is ready to be viewed. If the data is not ready, a 'processing' response willindicate that another request should be sent later to view the data.",
        "operationId": "createCostExplorerQueryProcess_1",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "name": "token",
            "in": "path",
            "description": "Unique 64 digit string that identifies the Cost Explorer query.",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 64,
              "type": "string",
              "example": "4ABBE973862346D40F3AE859D4BE96E0F895764EB14EAB039E7B82F9D638C05C"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/CostExplorerQueryResult"
                },
                "x-xgen-version": "2023-01-01"
              },
              "application/vnd.atlas.2023-01-01+csv": {
                "schema": {
                  "type": "string"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "102": {
            "description": "Processing"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "Billing Platform"
      }
    },
    "/api/atlas/v2/clusters": {
      "get": {
        "tags": ["Clusters"],
        "summary": "Return All Authorized Clusters in All Projects",
        "description": "Returns the details for all clusters in all projects to which you have access. Clusters contain a group of hosts that maintain the same data set. The response does not include multi-cloud clusters. To use this resource, the requesting API Key can have any cluster-level role.",
        "operationId": "listClustersForAllProjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrgGroupView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "Intel I"
      }
    },
    "/api/atlas/v2/example/info": {
      "get": {
        "tags": ["Test"],
        "summary": "Example resource info for versioning of the Atlas API",
        "description": "Returns some text dummy data for test purposes.",
        "operationId": "versionedExample",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "name": "additionalInfo",
            "in": "query",
            "description": "Show more info.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-02-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/ExampleResourceResponse20230201"
                },
                "x-xgen-version": "2023-02-01"
              },
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/ExampleResourceResponse20230101"
                },
                "x-xgen-version": "2023-01-01",
                "x-sunset": "2025-06-01"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-hidden-env": {
          "envs": "dev,qa,stage,prod"
        },
        "x-xgen-owner-team": "apix"
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings": {
      "get": {
        "tags": ["Federated Authentication"],
        "summary": "Return All Role Mappings from One Organization",
        "description": "Returns all role mappings from the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId": "listRoleMappings",
        "parameters": [
          {
            "$ref": "#/components/parameters/federationSettingsId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRoleMappingView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "IAM"
      },
      "post": {
        "tags": ["Federated Authentication"],
        "summary": "Add One Role Mapping to One Organization",
        "description": "Adds one role mapping to the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId": "createRoleMapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/federationSettingsId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "description": "The role mapping that you want to create.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthFederationRoleMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFederationRoleMapping"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "IAM"
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings/{id}": {
      "get": {
        "tags": ["Federated Authentication"],
        "summary": "Return One Role Mapping from One Organization",
        "description": "Returns one role mapping from the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId": "getRoleMapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/federationSettingsId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the role mapping that you want to return.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFederationRoleMapping"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "IAM"
      },
      "put": {
        "tags": ["Federated Authentication"],
        "summary": "Update One Role Mapping in One Organization",
        "description": "Updates one role mapping in the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId": "updateRoleMapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/federationSettingsId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the role mapping that you want to update.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "description": "The role mapping that you want to update.",
          "content": {
            "application/vnd.atlas.2023-01-01+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthFederationRoleMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFederationRoleMapping"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "IAM"
      },
      "delete": {
        "tags": ["Federated Authentication"],
        "summary": "Remove One Role Mapping from One Organization",
        "description": "Removes one role mapping in the specified organization from the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId": "deleteRoleMapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/federationSettingsId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the role mapping that you want to remove.",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
            "DigestAuth": []
          }
        ],
        "x-xgen-owner-team": "IAM"
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs": {
      "get": {
        "tags": ["Federated Authentication"],
        "summary": "Return All Connected Org Configs from One Federation",
        "description": "Returns all connected org configs in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role in one of the connected orgs.",
        "operationId": "listConnectedOrgConfigs",
        "parameters": [
          {
            "$ref": "#/components/parameters/federationSettingsId"
          },
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.atlas.2023-01-01+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedConnectedOrgConfigsView"
                },
                "x-xgen-version": "2023-01-01"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "security": [
          {
[...]
