import (
  "os"
  "context"
  "log"
  sdk "go.mongodb.org/atlas-sdk/v{{ .Version }}/admin"
)

func main() {
  ctx := context.Background()
  clientID := os.Getenv("MONGODB_ATLAS_CLIENT_ID")
  clientSecret := os.Getenv("MONGODB_ATLAS_CLIENT_SECRET")

  // See https://dochub.mongodb.org/core/atlas-go-sdk-oauth
  client, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))

  if err != nil {
	log.Fatalf("Error: %v", err)
  }

  params = &sdk.{{ .OperationID }}ApiParams{}
{{ if eq .Method "DELETE" }}  httpResp, err := client.{{ .Tag }}Api.
    {{ .OperationID }}WithParams(ctx, params).
    Execute(){{ else }}  sdkResp, httpResp, err := client.{{ .Tag }}Api.
    {{ .OperationID }}WithParams(ctx, params).
    Execute(){{ end}}
}
