{
  "openapi": "3.0.1",
  "info": {
    "title": "MongoDB Atlas Administration API",
    "description": "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API uses OAuth Service Accounts or HTTP Digest Authentication to authenticate requests. Provide a programmatic API public key and corresponding private key as the username and password when constructing the HTTP request. For example, to [return database access history](#tag/Access-Tracking/operation/listAccessLogsByClusterName) with [cURL](https://en.wikipedia.org/wiki/CURL), run the following command in the terminal:\n\n```\ncurl --user \"{PUBLIC-KEY}:{PRIVATE-KEY}\" \\\n  --digest \\\n  --header \"Accept: application/json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v1.0/groups/{groupId}/dbAccessHistory/clusters/{clusterName}?pretty=true\"\n```\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).",
    "termsOfService": "https://www.mongodb.com/mongodb-management-service-terms-and-conditions",
    "license": {
      "name": "CC BY-NC-SA 3.0 US",
      "url": "https://creativecommons.org/licenses/by-nc-sa/3.0/us/"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Back to Atlas Docs",
    "url": "https://www.mongodb.com/docs/atlas/"
  },
  "servers": [
    {
      "url": "https://cloud.mongodb.com"
    }
  ],
  "security": [
    {
      "ServiceAccounts": []
    },
    {
      "DigestAuth": []
    }
  ],
  "tags": [
    {
      "name": "Access Tracking",
      "description": "Returns access logs for authentication attempts made to Atlas database deployments. To view database access history, you must have either the Project Owner or Organization Owner role."
    },
    {
      "name": "Alert Configurations",
      "description": "Returns and edits the conditions that trigger alerts and how MongoDB Cloud notifies users. This collection remains under revision and may change."
    },
    {
      "name": "Alerts",
      "description": "Returns and acknowledges alerts that MongoDB Cloud triggers based on the alert conditions that you define. This collection remains under revision and may change."
    },
    {
      "name": "Atlas Search",
      "description": "Returns, adds, edits, and removes Atlas Search indexes for the specified cluster. Also returns and updates user-defined analyzers for the specified cluster."
    },
    {
      "name": "Auditing",
      "description": "Returns and edits database auditing settings for MongoDB Cloud projects."
    },
    {
      "name": "AWS Clusters DNS",
      "description": "Returns and edits custom DNS configurations for MongoDB Cloud database deployments on AWS. The resource requires your Project ID. If you use the VPC peering on AWS and you use your own DNS servers instead of Amazon Route 53, enable custom DNS. Before 31 March 2020, applications deployed within AWS using custom DNS services and VPC-peered with MongoDB Cloud couldn't connect over private IP addresses. Custom DNS resolved to public IP addresses. AWS internal DNS resolved to private IP addresses. Applications deployed with custom DNS services in AWS should use Private IP for Peering connection strings."
    },
    {
      "name": "Cloud Backups",
      "description": "Manages Cloud Backup snapshots, snapshot export buckets, restore jobs, and schedules. This resource applies only to clusters that use Cloud Backups."
    },
    {
      "name": "Cloud Migration Service",
      "description": "Manages the Cloud Migration Service. Source organizations, projects, and MongoDB clusters reside on Cloud Manager or Ops Manager. Destination organizations, projects, and MongoDB clusters reside on MongoDB Cloud. Source databases can't use any authentication except SCRAM-SHA."
    },
    {
      "name": "Cloud Provider Access",
      "description": "Returns, adds, authorizes, and removes AWS IAM roles in Atlas."
    },
    {
      "name": "Cluster Outage Simulation",
      "description": "Returns, starts, or ends a cluster outage simulation."
    },
    {
      "name": "Clusters",
      "description": "Returns, adds, edits, and removes database deployments. Changes to cluster configurations can affect costs. This resource requires your Project ID."
    },
    {
      "name": "Custom Database Roles",
      "description": "Returns, adds, edits, and removes custom database user privilege roles. Use custom roles to specify custom sets of actions that the MongoDB Cloud built-in roles can't describe. You define custom roles at the project level, for all clusters in the project. This resource supports a subset of MongoDB privilege actions. You can create a subset of custom role actions. To create a wider list of custom role actions, use the MongoDB Cloud user interface. Custom roles must include actions that all project's clusters support, and that are compatible with each MongoDB version that your project's clusters use. For example, if your project has MongoDB 4.2 clusters, you can't create custom roles that use actions introduced in MongoDB 4.4."
    },
    {
      "name": "Data Federation",
      "description": "Returns, adds, edits, and removes Federated Database Instances. This resource requires your project ID. Changes to federated database instance configurations can affect costs."
    },
    {
      "name": "Data Lake Pipelines",
      "description": "Returns, edits, and removes Atlas Data Lake Pipelines and associated runs.",
      "externalDocs": {
        "description": "Data Lake Pipelines are deprecated. Please see Data Lake Deprecation Guide.",
        "url": "https://dochub.mongodb.org/core/data-lake-deprecation"
      }
    },
    {
      "name": "Database Users",
      "description": "Returns, adds, edits, and removes database users."
    },
    {
      "name": "Encryption at Rest using Customer Key Management",
      "description": "Returns and edits the Encryption at Rest using Customer Key Management configuration. MongoDB Cloud encrypts all storage whether or not you use your own key management."
    },
    {
      "name": "Events",
      "description": "Returns events. This collection remains under revision and may change."
    },
    {
      "name": "Federated Authentication",
      "description": "Returns, adds, edits, and removes federation-related features such as role mappings and connected organization configurations."
    },
    {
      "name": "Global Clusters",
      "description": "Returns, adds, and removes Global Cluster managed namespaces and custom zone mappings. Each collection in a Global Cluster is associated with a managed namespace. When you create a managed namespace for a Global Cluster, MongoDB Cloud creates an empty collection for that namespace. Creating a managed namespace doesn't populate a collection with data. Similarly, deleting a managed namespace doesn't delete the associated collection.\nMongoDB Cloud shards the empty collection using the required location field and a custom shard key. For example, if your custom shard key is `city`, the compound shard key is `location, city`. Each Global Cluster is also associated with one or more Global Writes Zones. When a user creates a Global Cluster, MongoDB Cloud automatically maps each location code to the closest geographical zone. Custom zone mappings allow administrators to override these automatic mappings. For example, a use case might require mapping a location code to a geographically distant zone. Administrators can manage custom zone mappings with the APIs below and the **Global Cluster Configuration** pane when you create or modify your Global Cluster."
    },
    {
      "name": "Invoices",
      "description": "Returns invoices."
    },
    {
      "name": "LDAP Configuration",
      "description": "Returns, edits, verifies, and removes LDAP configurations. An LDAP configuration defines settings for MongoDB Cloud to connect to your LDAP server over TLS for user authentication and authorization. Your LDAP server must be visible to the internet or connected to your MongoDB Cloud cluster with VPC Peering. Also, your LDAP server must use TLS. You must have the MongoDB Cloud admin user privilege to use these endpoints. Also, to configure user authentication and authorization with LDAPS, your cluster must run MongoDB 3.6 or higher. Groups for which you have configured LDAPS can't create a cluster using a version of MongoDB 3.6 or lower."
    },
    {
      "name": "Legacy Backup",
      "description": "Manages Legacy Backup snapshots, restore jobs, schedules and checkpoints."
    },
    {
      "name": "Maintenance Windows",
      "description": "Returns, edits, and removes maintenance windows. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. You can defer a scheduled maintenance event for a project up to two times. Deferred maintenance events occur during your preferred maintenance window exactly one week after the previously scheduled date and time."
    },
    {
      "name": "MongoDB Cloud Users",
      "description": "Returns, adds, and edits MongoDB Cloud users."
    },
    {
      "name": "Monitoring and Logs",
      "description": "Returns database deployment monitoring and logging data."
    },
    {
      "name": "Multi-Cloud Clusters",
      "description": "Returns, adds, edits, or removes multi-cloud clusters. Changes to cluster configurations can affect costs.\n\nThe total number of nodes in clusters spanning across regions has a specific constraint on a per-project basis. MongoDB Cloud limits the total number of nodes in other regions in one project to a total of 40. This total excludes Google Cloud regions communicating with each other, shared-tier clusters, or serverless clusters. The total number of nodes between any two regions must meet this constraint. For example, if a project has nodes in clusters spread across three regions: 30 nodes in Region A, 10 nodes in Region B, and 5 nodes in Region C, you can add only 5 more nodes to Region C because if you exclude Region C, Region A + Region B = 40. If you exclude Region B, Region A + Region C = 35, <= 40. If you exclude Region A, Region B + Region C = 15, <= 40. Each combination of regions with the added 5 nodes still meets the per-project constraint. Region A + B = 40. Region A + C = 40. Region B + C = 20. You can't create a multi-region cluster in a project if it has one or more clusters spanning 40 or more nodes in other regions. Each project supports up to 25 database deployments.\n\nIf your MongoDB Cloud project contains a custom role that uses actions introduced in a specific MongoDB version, you must delete that role before you create clusters with an earlier MongoDB version. MongoDB Cloud clusters created after July 2020 use TLS version 1.2 by default. When you create a cluster, MongoDB Cloud creates a network container in the project for the cloud provider to which you deploy the cluster if one doesn't already exist."
    },
    {
      "name": "Network Peering",
      "description": "Returns, adds, edits, and removes network peering containers and peering connections.\nWhen you deploy an M10+ dedicated cluster, Atlas creates a VPC for the selected provider and region or regions if no existing VPC or VPC peering connection exists for that provider and region. Atlas assigns the VPC a Classless Inter-Domain Routing (CIDR) block."
    },
    {
      "name": "Online Archive",
      "description": "Returns, adds, edits, or removes an online archive."
    },
    {
      "name": "Organizations",
      "description": "Returns, adds, and edits organizational units in MongoDB Cloud."
    },
    {
      "name": "Performance Advisor",
      "description": "Returns suggested indexes and slow query data for a database deployment. Also enables or disables MongoDB Cloud-managed slow operation thresholds. To view field values in a sample query, you must have the Project Data Access Read Only role or higher. Otherwise, MongoDB Cloud returns redacted data rather than the field values."
    },
    {
      "name": "Private Endpoint Services",
      "description": "Returns, adds, edits, and removes private endpoint services."
    },
    {
      "name": "Programmatic API Keys",
      "description": "Returns, adds, edits, and removes access tokens to use the MongoDB Cloud API. MongoDB Cloud applies these keys to organizations. These resources can return, assign, or revoke use of these keys within a specified project."
    },
    {
      "name": "Project IP Access List",
      "description": "Returns, adds, edits, and removes network access limits to database deployments in Atlas. This resource replaces the whitelist resource. Atlas removed whitelists in July 2021. Update your applications to use this new resource. This resource manages a project's IP Access List and supports creating temporary Access List entries that automatically expire within a user-configurable 7-day period."
    },
    {
      "name": "Projects",
      "description": "Returns, adds, and edits collections of clusters and users in MongoDB Cloud."
    },
    {
      "name": "Rolling Index",
      "description": "Creates one index to a database deployment in a rolling manner. You can't create a rolling index on an `M0` free cluster or `M2/M5` shared cluster."
    },
    {
      "name": "Root",
      "description": "Returns details that describe the MongoDB Cloud build and the access token that requests this resource. This starts the MongoDB Cloud API."
    },
    {
      "name": "Serverless Instances",
      "description": "Returns, adds, edits, and removes serverless instances."
    },
    {
      "name": "Serverless Private Endpoints",
      "description": "Returns, adds, edits, and removes private endpoints for serverless instances. To learn more, see the Atlas Administration API tab on the following tutorial.",
      "externalDocs": {
        "description": "Set Up a Private Endpoint for a Serverless Instance Tutorial",
        "url": "https://dochub.mongodb.org/core/serverless-private-endpoint"
      }
    },
    {
      "name": "Shared-Tier Restore Jobs",
      "description": "Returns and adds restore jobs for shared-tier database deployments."
    },
    {
      "name": "Shared-Tier Snapshots",
      "description": "Returns and requests to download shared-tier database deployment snapshots."
    },
    {
      "name": "Teams",
      "description": "Returns, adds, edits, or removes teams."
    },
    {
      "name": "Third-Party Integrations",
      "description": "Returns, adds, edits, and removes third-party service integration configurations. MongoDB Cloud sends alerts to each third-party service that you configure.\n\n**IMPORTANT**: Each project can only have one configuration per integrationType."
    },
    {
      "name": "X.509 Authentication",
      "description": "Returns, edits, and removes user-managed X.509 configurations. Also returns and generates MongoDB Cloud-managed X.509 certificates for database users. The following resources help manage database users who authenticate using X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud do it for you. If MongoDB Cloud manages your certificates, it also manages your Certificate Authority and can generate certificates for your database users. No additional X.509 configuration is required. If you manage your certificates, you must provide a Certificate Authority and generate certificates for your database users.",
      "externalDocs": {
        "description": "Self-Managed X.509 Certificates",
        "url": "https://www.mongodb.com/docs/atlas/security-self-managed-x509/"
      }
    }
  ],
  "paths": {
    "/api/atlas/v1.0/groups/{groupId}/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Return Events from One Project",
        "description": "Returns events for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listProjectEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "clusterNames",
            "in": "query",
            "description": "Human-readable label that identifies the cluster.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$",
                "type": "string"
              },
              "x-xgen-IPA-exception": {
                "xgen-IPA-124-array-max-items": "Schema predates IPA validation"
              }
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Category of incident recorded at this moment in time.\n\n**IMPORTANT**: The complete list of event type values changes frequently.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventTypeForNdsGroup"
              },
              "x-xgen-IPA-exception": {
                "xgen-IPA-124-array-max-items": "Schema predates IPA validation"
              }
            }
          },
          {
            "name": "excludedEventType",
            "in": "query",
            "description": "Category of event that you would like to exclude from query results, such as CLUSTER_CREATED\n\n**IMPORTANT**: Event type names change frequently. Verify that you specify the event type correctly by checking the complete list of event types.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventTypeForNdsGroup"
              },
              "x-xgen-IPA-exception": {
                "xgen-IPA-124-array-max-items": "Schema predates IPA validation"
              }
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud stops returning events. This parameter uses the ISO 8601 timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "externalDocs": {
                "description": "ISO 8601",
                "url": "https://en.wikipedia.org/wiki/ISO_8601"
              }
            }
          },
          {
            "name": "minDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud starts returning events. This parameter uses the ISO 8601 timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "externalDocs": {
                "description": "ISO 8601",
                "url": "https://en.wikipedia.org/wiki/ISO_8601"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPaginatedEventView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Events/operation/listProjectEvents"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/events/{eventId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Return One Event from One Project",
        "description": "Returns one event for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return Events from One Project endpoint to retrieve all events to which the authenticated user has access.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Return Events from One Project",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listProjectEvents"
        },
        "operationId": "getProjectEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the event that you want to return.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventViewForNdsGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Events/operation/getProjectEvent"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Return Events from One Organization",
        "description": "Returns events for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Organization Member role.\n\nThis resource remains under revision and may change.",
        "operationId": "listOrganizationEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Category of incident recorded at this moment in time.\n\n**IMPORTANT**: The complete list of event type values changes frequently.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventTypeForOrg"
              },
              "x-xgen-IPA-exception": {
                "xgen-IPA-124-array-max-items": "Schema predates IPA validation"
              }
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud stops returning events. This parameter uses the ISO 8601 timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "minDate",
            "in": "query",
            "description": "Date and time from when MongoDB Cloud starts returning events. This parameter uses the ISO 8601 timestamp format in UTC.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "externalDocs": {
                "description": "ISO 8601",
                "url": "https://en.wikipedia.org/wiki/ISO_8601"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgPaginatedEventView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Events/operation/listOrganizationEvents"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/events/{eventId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Return One Event from One Organization",
        "description": "Returns one event for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Organization Member role. Use the Return Events from One Organization endpoint to retrieve all events to which the authenticated user has access.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Return Events from One Organization",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listOrganizationEvents"
        },
        "operationId": "getOrganizationEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the event that you want to return.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "description": "Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventViewForOrg"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Events/operation/getOrganizationEvent"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/alertConfigs/{alertConfigId}/alerts": {
      "get": {
        "tags": ["Alerts"],
        "summary": "Return All Open Alerts for One Alert Configuration",
        "description": "Returns all open alerts that the specified alert configuration triggers. These alert configurations apply to the specified project only. Alert configurations define the triggers and notification methods for alerts. Open alerts have been triggered but remain unacknowledged. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Return All Alert Configurations for One Project",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations"
        },
        "operationId": "listAlertsByAlertConfigurationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertView"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alerts/operation/listAlertsByAlertConfigurationId"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/alerts/{alertId}": {
      "get": {
        "tags": ["Alerts"],
        "summary": "Return One Alert from One Project",
        "description": "Returns one alert. This alert applies to any component in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "getAlert",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertViewForNdsGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alerts/operation/getAlert"
      },
      "patch": {
        "tags": ["Alerts"],
        "summary": "Acknowledge One Alert from One Project",
        "description": "Confirms receipt of one existing alert. This alert applies to any component in one project. Acknowledging an alert prevents successive notifications. You receive an alert when a monitored component meets or exceeds a value you set until you acknowledge the alert. To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId": "acknowledgeAlert",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Acknowledges or unacknowledges one alert.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertView"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertViewForNdsGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alerts/operation/acknowledgeAlert"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/alerts": {
      "get": {
        "tags": ["Alerts"],
        "summary": "Return All Alerts from One Project",
        "description": "Returns all alerts. These alerts apply to all components in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listAlerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the alerts to return. Omit to return all alerts in all statuses.",
            "schema": {
              "type": "string",
              "enum": ["OPEN", "TRACKING", "CLOSED"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alerts/operation/listAlerts"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/alerts/{alertId}/alertConfigs": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return All Alert Configurations Set for One Alert",
        "description": "Returns all alert configurations set for the specified alert. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alerts from One Project endpoint to retrieve all alerts to which the authenticated user has access.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Return All Alerts from One Project",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/listAlerts"
        },
        "operationId": "listAlertConfigurationsByAlertId",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertConfigView"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/listAlertConfigurationsByAlertId"
      }
    },
    "/api/atlas/v1.0/alertConfigs/matchers/fieldNames": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return All Alert Configuration Matchers Field Names",
        "description": "Get all field names that the `matchers.fieldName` parameter accepts when you create or update an Alert Configuration. You can successfully call this endpoint with any assigned role.",
        "operationId": "listAlertConfigurationMatchersFieldNames",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatcherFieldView"
                  },
                  "x-xgen-IPA-exception": {
                    "xgen-IPA-124-array-max-items": "Schema predates IPA validation"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/listAlertConfigurationMatchersFieldNames"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/alertConfigs": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return All Alert Configurations in One Project",
        "description": "Returns all alert configurations for one project. These alert configurations apply to any component in the project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId": "listAlertConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertConfigView"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/listAlertConfigurations"
      },
      "post": {
        "tags": ["Alert Configurations"],
        "summary": "Create One Alert Configuration in One Project",
        "description": "Creates one alert configuration for the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId": "createAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Creates one alert configuration for the specified project.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAlertsConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/createAlertConfiguration"
      }
    },
    "/api/atlas/v1.0/groups/{groupId}/alertConfigs/{alertConfigId}": {
      "get": {
        "tags": ["Alert Configurations"],
        "summary": "Return One Alert Configuration from One Project",
        "description": "Returns the specified alert configuration from the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Return All Alert Configurations for One Project",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations"
        },
        "operationId": "getAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/getAlertConfiguration"
      },
      "put": {
        "tags": ["Alert Configurations"],
        "summary": "Update One Alert Configuration in One Project",
        "description": "Updates one alert configuration in the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.\n\n**NOTE**: To enable or disable the alert configuration, see Toggle One State of One Alert Configuration in One Project.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Toggle One State of One Alert Configuration in One Project",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/toggleAlertConfiguration"
        },
        "operationId": "updateAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "requestBody": {
          "description": "Updates one alert configuration in the specified project.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAlertsConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/updateAlertConfiguration"
      },
      "delete": {
        "tags": ["Alert Configurations"],
        "summary": "Remove One Alert Configuration from One Project",
        "description": "Removes one alert configuration from the specified project. To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Return All Alert Configurations for One Project",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations"
        },
        "operationId": "deleteAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/deleteAlertConfiguration"
      },
      "patch": {
        "tags": ["Alert Configurations"],
        "summary": "Toggle State of One Alert Configuration in One Project",
        "description": "Enables or disables the specified alert configuration in the specified project. The resource enables the specified alert configuration if currently enabled. The resource disables the specified alert configuration if currently disabled. To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.\n\n**NOTE**: This endpoint updates only the enabled/disabled state for the alert configuration. To update more than just this configuration, see Update One Alert Configuration.\n\nThis resource remains under revision and may change.",
        "externalDocs": {
          "description": "Update One Alert Configuration",
          "url": "https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/updateAlertConfiguration"
        },
        "operationId": "toggleAlertConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "alertConfigId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the alert configuration that triggered this alert.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string",
              "example": "32b6e34b3d91647abb20e7b8"
            }
          }
        ],
        "requestBody": {
          "description": "Enables or disables the specified alert configuration in the specified project.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertsToggle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAlertsConfig"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Alert-Configurations/operation/toggleAlertConfiguration"
      }
    },
    "/api/atlas/v1.0": {
      "get": {
        "tags": ["Root"],
        "summary": "Return the status of this MongoDB application",
        "description": "This resource returns information about the MongoDB application along with API key meta data.",
        "operationId": "getSystemStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Root/operation/getSystemStatus"
      }
    },
    "/api/atlas/v1.0/clusters": {
      "get": {
        "tags": ["Clusters"],
        "summary": "Return All Authorized Clusters in All Projects",
        "description": "Returns the details for all clusters in all projects to which you have access. Clusters contain a group of hosts that maintain the same data set. The response does not include multi-cloud clusters. To use this resource, the requesting Service Account or API Key can have any cluster-level role.",
        "operationId": "listClustersForAllProjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrgGroupView"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Clusters/operation/listClustersForAllProjects"
      }
    },
    "/api/atlas/v1.0/orgs": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Return All Organizations",
        "description": "Returns all organizations to which the requesting Service Account or API Key has access. To use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "operationId": "listOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Human-readable label of the organization to use to filter the returned list. Performs a case-insensitive search for an organization that starts with the specified name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrganizationView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/listOrganizations"
      },
      "post": {
        "tags": ["Organizations"],
        "summary": "Create One Organization",
        "description": "Creates one organization in MongoDB Cloud and links it to the requesting Service Account's or API Key's organization. To use this resource, the requesting Service Account or API Key must have the Organization Owner role. The requesting Service Account's or API Key's organization must be a paying organization. To learn more, see Configure a Paying Organization in the MongoDB Atlas documentation.",
        "externalDocs": {
          "description": "Configure a Paying Organization",
          "url": "https://www.mongodb.com/docs/atlas/billing/#configure-a-paying-organization"
        },
        "operationId": "createOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Organization that you want to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrganizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/createOrganization"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/teams/{teamId}/users": {
      "get": {
        "tags": ["Teams"],
        "summary": "Return All MongoDB Cloud Users Assigned to One Team",
        "description": "Returns all MongoDB Cloud users assigned to the team specified using its unique 24-hexadecimal digit identifier. This team belongs to one organization. Teams enable you to grant project access roles to MongoDB Cloud users. To use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "listTeamUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the team whose application users you want to return.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedApiAppUserView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/listTeamUsers"
      },
      "post": {
        "tags": ["Teams"],
        "summary": "Assign MongoDB Cloud Users in One Organization to One Team",
        "description": "Adds one or more MongoDB Cloud users from the specified organization to the specified team. Teams enable you to grant project access roles to MongoDB Cloud users. You can assign up to 250 MongoDB Cloud users from one organization to one team. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "addTeamUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Unique 24-hexadecimal character string that identifies the team to which you want to add MongoDB Cloud users.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "One or more MongoDB Cloud users that you want to add to the specified team.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddUserToTeam"
                },
                "x-xgen-IPA-exception": {
                  "xgen-IPA-124-array-max-items": "Schema predates IPA validation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedApiAppUserView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/addTeamUser"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/teams": {
      "get": {
        "tags": ["Teams"],
        "summary": "Return All Teams in One Organization",
        "description": "Returns all teams that belong to the specified organization. Teams enable you to grant project access roles to MongoDB Cloud users. MongoDB Cloud only returns teams for which you have access. To use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "listOrganizationTeams",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTeamView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/listOrganizationTeams"
      },
      "post": {
        "tags": ["Teams"],
        "summary": "Create One Team in One Organization",
        "description": "Creates one team in the specified organization. Teams enable you to grant project access roles to MongoDB Cloud users. MongoDB Cloud limits the number of teams to a maximum of 250 teams per organization. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "createTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Team that you want to create in the specified organization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/createTeam"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/teams/{teamId}": {
      "get": {
        "tags": ["Teams"],
        "summary": "Return One Team by ID",
        "description": "Returns one team that you identified using its unique 24-hexadecimal digit ID. This team belongs to one organization. Teams enable you to grant project access roles to MongoDB Cloud users. To use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "getTeamById",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the team whose information you want to return.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/getTeamById"
      },
      "delete": {
        "tags": ["Teams"],
        "summary": "Remove One Team from One Organization",
        "description": "Removes one team specified using its unique 24-hexadecimal digit identifier from the organization specified using its unique 24-hexadecimal digit identifier. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "deleteTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the team that you want to delete.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body."
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/deleteTeam"
      },
      "patch": {
        "tags": ["Teams"],
        "summary": "Rename One Team",
        "description": "Renames one team in the specified organization. Teams enable you to grant project access roles to MongoDB Cloud users. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "renameTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the team that you want to rename.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details to update on the specified team.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/renameTeam"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/teams/byName/{teamName}": {
      "get": {
        "tags": ["Teams"],
        "summary": "Return One Team by Name",
        "description": "Returns one team that you identified using its human-readable name. This team belongs to one organization. Teams enable you to grant project access roles to MongoDB Cloud users. To use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "getTeamByName",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamName",
            "in": "path",
            "description": "Name of the team whose information you want to return.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/getTeamByName"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/teams/{teamId}/users/{userId}": {
      "delete": {
        "tags": ["Teams"],
        "summary": "Remove One MongoDB Cloud User from One Team",
        "description": "Removes one MongoDB Cloud user from the specified team. This team belongs to one organization. Teams enable you to grant project access roles to MongoDB Cloud users. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "externalDocs": {
          "description": "Manage Organization Teams",
          "url": "https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/#std-label-manage-teams"
        },
        "operationId": "removeTeamUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the team from which you want to remove one database application user.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies MongoDB Cloud user that you want to remove from the specified team.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body."
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Teams/operation/removeTeamUser"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/users/{userId}": {
      "delete": {
        "tags": ["Organizations"],
        "summary": "Remove One MongoDB Cloud User from One Organization",
        "description": "Removes one MongoDB Cloud user from the specified organization. To use this resource, the requesting Service Account or API Key must have the Organization User Admin role.",
        "operationId": "removeOrganizationUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Unique 24-hexadecimal digit string that identifies the user to be deleted.",
            "required": true,
            "schema": {
              "pattern": "^([a-f0-9]{24})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body."
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/removeOrganizationUser"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Return One Organization",
        "description": "Returns one organization to which the requesting Service Account or API Key has access. To use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "operationId": "getOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtlasOrganization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/getOrganization"
      },
      "delete": {
        "tags": ["Organizations"],
        "summary": "Remove One Organization",
        "description": "Removes one specified organization. MongoDB Cloud imposes the following limits on this resource:\n\n - Organizations with active projects cannot be removed.\n - All projects in the organization must be removed before you can remove the organization.\n To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "responses": {
          "204": {
            "description": "This endpoint does not return a response body."
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/deleteOrganization"
      },
      "patch": {
        "tags": ["Organizations"],
        "summary": "Update One Organization",
        "description": "Updates one organization. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to update on the specified organization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtlasOrganization"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtlasOrganization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/updateOrganization"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/federationSettings": {
      "get": {
        "tags": ["Federated Authentication"],
        "summary": "Return Federation Settings for One Organization",
        "description": "Returns information about the federation settings for the specified organization. To use this resource, the requesting Service Account or API Key must have the Organization Owner role in the connected org.",
        "operationId": "getFederationSettings",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgFederationSettings"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Federated-Authentication/operation/getFederationSettings"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/groups": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Return All Projects in One Organization",
        "description": "Returns multiple projects in the specified organization. Each organization can have multiple projects. Use projects to:\n\n- Isolate different environments, such as development, test, or production environments, from each other.\n- Associate different MongoDB Cloud users or teams with different environments, or give different permission to MongoDB Cloud users in different environments.\n- Maintain separate cluster security configurations.\n- Create different alert settings.\n\nTo use this resource, the requesting Service Account or API Key must have the Organization Member role.",
        "operationId": "listOrganizationProjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/includeCount"
          },
          {
            "$ref": "#/components/parameters/itemsPerPage"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pageNum"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Human-readable label of the project to use to filter the returned list. Performs a case-insensitive search for a project within the organization which is prefixed by the specified name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAtlasGroupView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/listOrganizationProjects"
      }
    },
    "/api/atlas/v1.0/orgs/{orgId}/settings": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Return Settings for One Organization",
        "description": "Returns details about the specified organization's settings. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "operationId": "getOrganizationSettings",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSettings"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          }
        },
        "x-xgen-docs-url": "https://mongodb.com/docs/atlas/reference/api-resources-spec/v1/#tag/Organizations/operation/getOrganizationSettings"
      },
      "patch": {
        "tags": ["Organizations"],
        "summary": "Update Settings for One Organization",
        "description": "Updates the organization's settings. To use this resource, the requesting Service Account or API Key must have the Organization Owner role.",
        "operationId": "updateOrganizationSettings",
        "parameters": [
          {
            "$ref": "#/components/parameters/envelope"
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "requestBody": {
          "description": "Details to update on the specified organization's settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
[...]
