name: 'Code Health Tools'
on:
  push:
    branches:
      - main
    paths: 
      - 'tools/postman/**'
      - 'tools/spectral/**'
      - 'package.json'
      - 'tools/spectral/ipa/package.json'
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
    paths:
      - 'tools/postman/**'
      - 'tools/spectral/**'
      - 'package.json'
      - 'tools/spectral/ipa/package.json'
      - '.github/workflows/**'
  workflow_dispatch: {}
  workflow_call: {}

permissions:
  contents: read

jobs:
  js-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          sparse-checkout: |
            .github
            tools/spectral/ipa
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install npm dependencies
        run: npm ci
      - name: Run Jest tests
        run: |
          npm run test
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          sparse-checkout: |
            .github
            tools
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install npm dependencies
        run: npm ci
      - name: Run Prettier
        run: |
          npm run format-check
      - name: Run ESLint on JS files
        run: |
          npm run lint-js
      - name: Check IPA docs up-to-date
        run: |
          npm run gen-ipa-docs
          if [[ -n $(git status --porcelain) ]]; then
            echo "IPA docs or NPM dependencies not up to date, please run 'npm run gen-ipa-docs' and 'npm install' then commit the changes"
            exit 1
          fi
          exit 0
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash
