name: 'Handle failures in the workflow'
on:
  workflow_call:
    inputs:
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string
      release_name:
        description: 'Name of the release.'
        required: true
        type: string
      team_id:
        description: 'ID of Jira Team'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      jira_api_token:
        required: true

permissions:
  contents: write
  issues: write

jobs:
    failure-handler:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
              with:
                sparse-checkout: |
                    .github/ISSUE_TEMPLATE/GH_ACTION_ISSUE_TEMPLATE.md
                    .github/scripts/create_jira_ticket.sh

            - name: Check if an issue already exists 
              id: check-issue
              env: 
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                TARGET_ENV: ${{ inputs.env }}
                RELEASE_NAME: ${{ inputs.release_name }}
                REPO: ${{ github.repository }}
              run: |
                query="(${TARGET_ENV}}) The ${RELEASE_NAME} Release has failed."
                number_issue=$(gh search issues "${query}" --repo "${REPO}" --state open --label failed-release --json title | jq length)
                
                if [ -z "${number_issue}" ]; then
                    echo "There was an issue with the GH APIs. Stopping execution."
                    return 1
                fi
                
                echo "number_issue=${number_issue}"
                if [ "${number_issue}" -gt 0 ]; then
                    echo "An issue already exists. Stopping execution."
                    echo "found-issue=true" >> "${GITHUB_OUTPUT}"
                    return 0
                fi
                
                echo "found-issue=false" >> "${GITHUB_OUTPUT}"
            - name: Create Issue # Create an issue in the repo if the release fails
              if: ${{ steps.check-issue.outputs.found-issue == 'false' }}
              id: create-issue
              uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5
              env:
                TARGET_ENV: ${{ inputs.env }}
                RELEASE_NAME: ${{ inputs.release_name }}
                GITHUB_RUN_ID: ${{ github.run_id }}
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                update_existing: false
              with:
                filename: .github/ISSUE_TEMPLATE/GH_ACTION_ISSUE_TEMPLATE.md
            - name: Create JIRA Ticket
              if: ${{ steps.create-issue.outputs.number != null }}
              id: create-jira-ticket
              env:
                JIRA_API_TOKEN: ${{ secrets.jira_api_token }}
                JIRA_TICKET_TITLE: "(${{inputs.env}}) The ${{inputs.release_name}} release has failed. GH Issue: ${{steps.create-issue.outputs.number}}"
                JIRA_TICKET_DESCRIPTION: "The release process ${{inputs.release_name}} in [mongodb/openapi|https://github.com/mongodb/openapi] has failed. Please, look at the [issue-${{steps.create-issue.outputs.number}}|https://github.com/mongodb/openapi/issues/${{steps.create-issue.outputs.number}}] for more details."
                JIRA_TEAM_ID: ${{ inputs.team_id }}
              run: .github/scripts/create_jira_ticket.sh
            - name: Add comment to GH Issue
              if: ${{ steps.create-issue.outputs.number != null }}
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                JIRA_TICKET_ID: ${{ steps.create-jira-ticket.outputs.jira-ticket-id }}
                ISSUE_URL: ${{ steps.create-issue.outputs.url }}
              run: |
                gh issue comment ${{ env.ISSUE_URL }} -b "The ticket [${{env.JIRA_TICKET_ID}}](https://jira.mongodb.org/browse/${{env.JIRA_TICKET_ID}}) was created for internal tracking."
