name: Release the OpenAPI spec to Bump.sh
on:
  workflow_call:
    inputs:
      atlas_admin_v1_doc_id:
        description: 'Bump Doc ID for the v1 spec'
        required: false
        type: string
      atlas_admin_v2_doc_id:
        description: 'Bump Doc ID for the v2 specs'
        required: true
        type: string
      branch:
        description: 'Branch to release the OpenAPI Spec to.'
        required: true
        type: string
    secrets:
      api_bot_pat:
        required: true
      bump_token:
        required: true

permissions:
  contents: read

jobs:
  create-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ inputs.branch }}
          token: ${{secrets.api_bot_pat}}
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Download release scripts
        uses: actions/download-artifact@v6
        with:
          name: release-scripts
          github-token: ${{ secrets.api_bot_pat }}
          run-id: ${{ github.run_id }}
          path: release-scripts
      - name: Add permissions to execute scripts
        run: chmod +x release-scripts/*.js
      - name: Generate matrix
        id: set-matrix
        env:
          ATLAS_ADMIN_V1_DOC_ID: ${{ inputs.atlas_admin_v1_doc_id }}
          ATLAS_ADMIN_V2_DOC_ID: ${{ inputs.atlas_admin_v2_doc_id }}
          BRANCH_NAME: ${{ inputs.branch}}
        run: |
          spec_mapping=$(node release-scripts/generateSpecMapping.js)
          echo "matrix=${spec_mapping}" >> "${GITHUB_OUTPUT}"

  deploy-doc:
    needs: create-matrix
    name: Deploy API documentation on Bump.sh
    strategy:
      matrix: 
        spec-mapping: ${{ fromJson(needs.create-matrix.outputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ inputs.branch }}
          token: ${{secrets.api_bot_pat}}
      - name: Deploy API documentation - ${{inputs.branch}}
        uses: bump-sh/github-action@126c9893c1857534ceb3c7ffd26563d0dfa060e8
        with:
          doc: ${{matrix.spec-mapping.doc}}
          token: ${{secrets.bump_token}}
          file: ${{matrix.spec-mapping.file}}
          branch: ${{matrix.spec-mapping.branch}}

# We don't need to preview the API since the PR is autogenerated and always merge into master
# we will migrate this logic to another workflow that can be trigger ondemand by adding a label to a PR.
#  api-preview:
#    needs: create-matrix
#    if: ${{ github.event_name == 'pull_request'}}
#    name: Create API preview on Bump.sh
#    strategy:
#      matrix:
#        spec-mapping: ${{ fromJSON(needs.create-matrix.outputs.matrix) }}
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v6.0.0
#      - name: Create API preview
#        uses: bump-sh/github-action@126c9893c1857534ceb3c7ffd26563d0dfa060e8
#        with:
#          doc: ${{matrix.spec-mapping.doc}}
#          token: ${{secrets.bump_token}}
#          file: ${{matrix.spec-mapping.file}}
#          branch: ${{matrix.spec-mapping.branch}}
#          command: preview
