name: 'Generate the Federated OpenAPI Spec'
on:
  workflow_call:
    inputs:
      aws_default_region:
        description: 'AWS Default Region.'
        required: true
        type: string
      aws_s3_bucket:
        description: 'AWS S3 Bucket.'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      

permissions:
  contents: write
  issues: write

jobs:
  generata-spec:
    name: Generate the Federated OpenAPI Spec
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          sparse-checkout: |
            tools
            .github/scripts
      - name: Install Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
        with:
          go-version-file: 'tools/cli/go.mod'
          cache-dependency-path: "tools/cli/go.sum"
      - name: Build CLI
        working-directory: tools/cli
        run: make build
      - name: Retrieve Specs
        working-directory: tools/cli/bin
        env:
          AWS_DEFAULT_REGION: ${{inputs.aws_default_region}}
          AWS_ACCESS_KEY_ID: ${{ secrets.aws_access_key_id }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_access_key }}
          S3_BUCKET: ${{ inputs.aws_s3_bucket }}
        run: .github/scripts/download_specs.sh
      - name: Generate Federated Spec
        working-directory: tools/cli/bin
        run: .github/scripts/generate_federated_spec.sh
      - name: Upload artifact
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b
        with:
          name: openapi-foas
          path: tools/cli/bin/openapi-foas.*
