name: 'Optional Spec Validations'
on:
  workflow_call:
    inputs:
      spectral_version:
        description: 'Version of Spectral to use'
        type: string
        required: true
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true
      jira_api_token:
        required: true
  workflow_dispatch:
    inputs:
      spectral_version:
        description: 'Version of Spectral to use'
        type: string
        required: true
        default: 'latest'
      env:
        description: 'Environment to validate the OpenAPI Spec for.'
        type: choice
        required: true
        options:
          - dev
          - qa
          - staging
          - prod

permissions:
  contents: write
  issues: write
  id-token: write

jobs:
  optional-validations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install npm dependencies
        run: npm install
      - name: Download openapi-foas
        uses: actions/download-artifact@v6
        with:
          name: openapi-foas-${{ inputs.env }}
          github-token: ${{ secrets.api_bot_pat }}
          run-id: ${{ github.run_id }}
      - name: Run IPA validation
        id: ipa-spectral-validation
        run: |
          npx spectral lint openapi-foas.json --ruleset=./tools/spectral/ipa/ipa-spectral.yaml
      - name: Validate the FOAS can be used to generate Postman collection
        id: spectral-validation
        env:
          SPECTRAL_VERSION: ${{ inputs.spectral_version }}
        run: |
          cp -rf "openapi-foas.json" "./tools/postman/openapi/atlas-api.json"
          pushd tools/postman
          make convert_to_collection
          npx -- @stoplight/spectral-cli@"${SPECTRAL_VERSION}" lint ./tmp/collection.json --ruleset=./validation/spectral.yaml
          popd

  retry-handler:
    needs: [ optional-validations ]
    if: ${{ always() && contains(needs.*.result, 'failure') && fromJSON(github.run_attempt) < 3}}
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.api_bot_pat }}
        run: gh workflow run retry-handler.yml -F run_id=${{ github.run_id }}

  failure-handler:
    name: Failure Handler
    needs: [ optional-validations,  retry-handler ]
    if: ${{ always() && contains(needs.*.result, 'failure') && needs.retry-handler.result == 'skipped' }}
    uses: ./.github/workflows/failure-handler.yml
    with:
      env: ${{ inputs.env }}
      release_name: "Optional OpenAPI Validation"
      team_id: ${{ vars.JIRA_TEAM_ID_APIX_PLATFORM }}
    secrets:
      jira_api_token: ${{ secrets.JIRA_API_TOKEN }}
