name: 'Optional Spec Validations'
on:
  workflow_call:
    inputs:
      spectral_version:
        description: 'Version of Spectral to use'     
        type: string
        required: true
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true


permissions:
  contents: write
  issues: write
  id-token: write

jobs:  
  optional-validations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install npm dependencies
        run: npm install
      - name: Download openapi-foas
        uses: actions/download-artifact@v5
        with:
          name: openapi-foas-${{ inputs.env }}
          github-token: ${{ secrets.api_bot_pat }}
          run-id: ${{ github.run_id }}
      - name: Run IPA validation
        id: ipa-spectral-validation
        run: |
          npx spectral lint openapi-foas.json --ruleset=./tools/spectral/ipa/ipa-spectral.yaml
      - name: Validate the FOAS can be used to generate Postman collection
        id: spectral-validation
        env:
          SPECTRAL_VERSION: ${{ inputs.spectral_version }}
        run: |
          cp -rf "openapi-foas.json" "./tools/postman/openapi/atlas-api.json"
          pushd tools/postman
          make convert_to_collection
          npx -- @stoplight/spectral-cli@"${SPECTRAL_VERSION}" lint ./tmp/collection.json --ruleset=./validation/spectral.yaml
          popd
      - name: Create Issue - Postman validation Failed
        if: ${{ failure() && steps.spectral-validation.outcome == 'failure' }}
        uses: ./.github/workflows/task-failure-handler.yml
        with:
          env: ${{ inputs.env }}
          task_name: 'Optional Postman validation'
          team_id: ${{ vars.JIRA_TEAM_ID_APIX_1 }}
      - name: Create Issue - IPA validation Failed
        if: ${{ failure() && steps.ipa-spectral-validation.outcome == 'failure'}}
        uses: ./.github/workflows/task-failure-handler.yml
        with:
          env: ${{ inputs.env }}
          task_name: 'Optional IPA validation'
          team_id: ${{ vars.JIRA_TEAM_ID_APIX_1 }}
