name: 'Optional Spec Validations'
on:
  workflow_call:
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true
    inputs:
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string


permissions:
  contents: write
  issues: write

jobs:  
  optional-validations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: Download openapi-foas
        uses: actions/download-artifact@v4
        with:
          name: openapi-foas-${{ inputs.env }}
          github-token: ${{ secrets.api_bot_pat }}
          run-id: ${{ github.run_id }}
      - name: Validate the FOAS can be used to generate Postman collection
        run: |
          cp -rf "openapi-foas.json" "./tools/postman/openapi/atlas-api.json"
          pushd tools/postman
          make convert_to_collection
          popd
      - name: Create Issue
        if: ${{ failure() }}
        uses: imjohnbo/issue-bot@572eed14422c4d6ca37e870f97e7da209422f5bd
        env:
          target_env: ${{ inputs.env }}
        with:
          labels: failed-release
          title: "(${{env.target_env}}) Optional Postman validation failed :scream_cat:"
          body: See https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
