name: Postman Release
on:
  pull_request:
    branches: 
      - main
    types:
      - closed
  workflow_dispatch:
permissions:
  issues: write

jobs:
  release-postman:
    if: ${{ github.head_ref == 'api-bot-update' && github.event.pull_request.merged }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch OpenAPI Specification
        working-directory: ./tools/postman/openapi
        run: |
          make fetch_openapi

      - name: Convert the OpenAPI Specification into Collection
        id: convert
        working-directory: ./tools/postman
        run: |
          make convert_to_collection

      - name: Create Issue
        if: ${{ failure() && steps.convert.outcome == 'failure' }}
        uses: imjohnbo/issue-bot@572eed14422c4d6ca37e870f97e7da209422f5bd
        with:
          labels: failed-release
          title: "Postman Release: `make convert_to_collection` command failed :scream_cat:"
          body: See https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Transform Postman Collection 
        id: transform
        env:
          BASE_URL: ${{ vars.ATLAS_PROD_BASE_URL }}
        working-directory: ./tools/postman
        run: |
          make transform_collection

      - name: Create Issue
        if: ${{ failure() && steps.transform.outcome == 'failure' }}
        uses: imjohnbo/issue-bot@572eed14422c4d6ca37e870f97e7da209422f5bd
        with:
          labels: failed-release
          title: "Postman Release: `make transform_collection` command failed :scream_cat:"
          body: See https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Collection to Postman
        env:
          POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
          WORKSPACE_ID: ${{ secrets.WORKSPACE_ID }}
        working-directory: ./tools/postman
        run: |
          make upload_collection
