name: 'Release API Changelog for a given environment'
on:
  workflow_call:
    inputs:
      aws_default_region:
        description: 'AWS Default Region.'
        required: true
        type: string
      aws_s3_bucket:
        description: 'AWS S3 Bucket.'
        required: true
        type: string
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string
      branch:
        description: 'Branch to release the OpenAPI Spec to.'
        required: true
        type: string
      foascli_version:
        description: 'Version of FOASCLI to use.'
        required: true
        type: string
      aws_s3_role_to_assume:
        description: 'AWS S3 Role to Assume.'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true


permissions:
  contents: write
  issues: write
  id-token: write

jobs:
  release:
      name: Release Changelog
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
          with:
            ref: ${{ inputs.branch }}
            token: ${{secrets.api_bot_pat}}
        - name: Check last Changelog Entry
          id: check_last_run
          run: |
           last_run_date=$(< changelog/changelog.json jq '.[0].date')
           today=$(date +%F)
           echo "last_run_date=${last_run_date}"
           echo "today=${today}"
           if [[ "${last_run_date}" == "${today}" ]]; then
              echo "skip_release='true'" >> "${GITHUB_OUTPUT}"
           else
              echo "skip_release='false'" >> "${GITHUB_OUTPUT}"
           fi
        - name: Install FOASCLI
          id: install-foascli
          env:
            foascli_version: ${{ inputs.foascli_version }}
          run: |
             wget https://github.com/mongodb/openapi/releases/download/v"${foascli_version}"/mongodb-foas-cli_"${foascli_version}"_linux_x86_64.tar.gz -O foascli.tar.gz
             tar -xzvf foascli.tar.gz 
             pushd mongodb-foas-cli_*
             echo "$(pwd)/bin" >> "${GITHUB_PATH}"
             popd   
        - name: Download base folder
          uses: actions/download-artifact@v6
          with:
            name: base-${{ inputs.env }}
            path: changelog/base
            github-token: ${{ secrets.api_bot_pat }}
            run-id: ${{ github.run_id }}
        - name: Download metadata files
          uses: actions/download-artifact@v6
          with:
            name: openapi-foas-${{ inputs.env }}
            github-token: ${{ secrets.api_bot_pat }}
            run-id: ${{ github.run_id }}
        - name: Download release scripts
          uses: actions/download-artifact@v6
          with:
            name: release-scripts
            github-token: ${{ secrets.api_bot_pat }}
            run-id: ${{ github.run_id }}
            path: release-scripts
        - name: Add permissions to execute scripts
          run: |
            chmod +x release-scripts/*.sh
        - name: aws configure
          uses: aws-actions/configure-aws-credentials@v5
          with:
            role-to-assume: ${{ inputs.aws_s3_role_to_assume }}
            aws-region: ${{inputs.aws_default_region}}
        - name: Generate Changelog
          env:
            AWS_DEFAULT_REGION: ${{inputs.aws_default_region}}
            S3_BUCKET: ${{ inputs.aws_s3_bucket }}
          run: ./release-scripts/generate_changelog.sh
        - name: Upload revision and base folders for debugging
          uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
          with:
            name: base-revision-${{ inputs.env }}
            retention-days: 1
            path: |
              changelog/base
              changelog/revision
        - name: Clean up base and revision folders
          run: |
            rm -rf changelog/base
            rm -rf changelog/revision
        - name: Commit changes
          id: commit
          uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3
          env:
            target_env: ${{ inputs.env }}
            target_branch: ${{ inputs.branch }}
            run_id: ${{ github.run_id }}
          with:
            commit_message: "ci(${{env.target_env}}): Release API Changelog :rocket:. See https://github.com/mongodb/openapi/actions/runs/${{env.run_id}}."
            commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
            branch: ${{env.target_branch}}
            file_pattern: "changelog/*"
