name: '(PROD) Release OpenAPI Spec'
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 9 * * *' # Run at 9AM UTC
permissions:
  contents: write
jobs:
  # Required validations will stop the release if they fail
  run-required-validations:
    uses: ./.github/workflows/required-spec-validations.yml
    secrets:
      api_bot_pat: ${{ secrets.API_BOT_PAT }}
    with:
      spectral_version: ${{ vars.SPECTRAL_VERSION }}
  # Optional validations won't stop the release but only open a GH issue if they fail
  run-optional-validations:
    uses: ./.github/workflows/optional-spec-validations.yml
    secrets:
      api_bot_pat: ${{ secrets.API_BOT_PAT }}

  split-spec-to-versions:
    runs-on: ubuntu-latest
    needs: [run-required-validations]
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: Install Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
        with:
          go-version-file: 'tools/cli/go.mod'
      - name: Run foascli split command
        run: |
          pushd tools/cli
          make build
          popd
          ./tools/cli/bin/foascli split -s ./tools/cli/test/data/openapi-foas-dev.yaml --env prod
