name: 'Release OpenAPI Spec V1 for a given environment'
on:
  workflow_call:
    inputs:
      aws_default_region:
        description: 'AWS Default Region.'
        required: true
        type: string
      aws_s3_bucket:
        description: 'AWS S3 Bucket.'
        required: true
        type: string
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string
      branch:
        description: 'Branch to release the OpenAPI Spec to.'
        required: true
        type: string
      aws_s3_role_to_assume:
        description: 'AWS S3 Role to Assume.'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true
      mms_deployed_sha_url:
        required: true
      jira_api_token:
        required: true
permissions:
  contents: write
  issues: write
  id-token: write

jobs:
  release-v1-oas-apis:
    name: Release OpenAPI Spec for V1 (DEPRECATED) APIs
    runs-on: ubuntu-latest
    steps:
      - name: aws configure
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ inputs.aws_s3_role_to_assume }}
          aws-region: ${{inputs.aws_default_region}}
      - name: Download v1 Spec
        env:
          AWS_DEFAULT_REGION: ${{inputs.aws_default_region}}
          S3_BUCKET: ${{ inputs.aws_s3_bucket }}
          MMS_DEPLOYED_SHA_URL: ${{secrets.mms_deployed_sha_url}}
        run: |
          sha=$(curl "${MMS_DEPLOYED_SHA_URL}")
          echo "Downloading the OpenAPI Spec for v1 with sha ${sha}"
          aws s3 cp "s3://${S3_BUCKET}/openapi/oas/mms-v1/${sha}.json" "v1.json"
      - name: Generate YAML spec
        run: |
          sudo snap install yq
          yq -P '.' v1.json > v1.yaml
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: openapi-v1-${{ inputs.env }}
          path: |
            v1.json
            v1.yaml
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: ${{ inputs.branch }}
          token: ${{secrets.api_bot_pat}}
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: openapi-v1-${{ inputs.env }}
          github-token: ${{ secrets.api_bot_pat }}
          run-id: ${{ github.run_id }}
          path: openapi/v1-deprecated
      - name: Commit changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3
        env:
          target_env: ${{ inputs.env }}
          target_branch: ${{ inputs.branch }}
          run_id: ${{ github.run_id }}
        with:
          commit_message: "ci(${{env.target_env}}): Release OpenAPI Spec V1 :rocket:. See https://github.com/mongodb/openapi/actions/runs/${{env.run_id}}."
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          branch: ${{env.target_branch}}
          file_pattern: "openapi/v1-deprecated/*"


  retry-handler:
    needs: [release-v1-oas-apis]
    if: ${{ always() && contains(needs.*.result, 'failure') && fromJSON(github.run_attempt) < 3}}
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_REPO: ${{ inputs.branch }}
          GH_TOKEN: ${{ secrets.api_bot_pat }}
        run: gh workflow run retry-handler.yml -F run_id=${{ github.run_id }}

  failure-handler:
    name: Failure Handler
    needs: [retry-handler, release-v1-oas-apis ]
    if: ${{ always() && contains(needs.*.result, 'failure') && needs.retry-handler.result == 'skipped' }}
    uses: ./.github/workflows/failure-handler.yml
    with:
      env: ${{ inputs.env }}
      release_name: "OpenAPI Spec v1"
      team_id: ${{ vars.JIRA_TEAM_ID_APIX_PLATFORM }}
    secrets:
      jira_api_token: ${{ secrets.JIRA_API_TOKEN }}
