name: '(PROD) Release OpenAPI Spec'
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 9 * * *' # Run at 9AM UTC
permissions:
  contents: write
jobs:
  run-validations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: Run Spectral
        run: npx -- @stoplight/spectral-cli@${SPECTRAL_VERSION} lint ./tools/cli/test/data/openapi_foas*.{yml,yaml} --ruleset=.spectral.yaml # we will update this to lint the FOAS in CLOUDP-263186
        env:
          SPECTRAL_VERSION: ${{ vars.SPECTRAL_VERSION }}

