name: 'Required Spec Validations'
on:
  workflow_call:
    inputs:
      spectral_version:
        description: 'Version of Spectral to use'     
        type: string
        required: true
      env:
        description: 'Environment to generate the OpenAPI Spec for.'
        required: true
        type: string
    secrets: # all secrets are passed explicitly in this workflow
      api_bot_pat:
        required: true

permissions:
  contents: write

jobs:  
  required-validations:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        - name: Setup Node
          uses: actions/setup-node@v6
          with:
            node-version: '20.x'
            cache: 'npm'
        - name: Install npm dependencies
          run: npm install
        - name: Download openapi-foas
          uses: actions/download-artifact@v6
          with:
            name: openapi-foas-${{ inputs.env }}
            github-token: ${{ secrets.api_bot_pat }}
            run-id: ${{ github.run_id }}
        - name: Run 
          id: spectral-validation
          env:
            SPECTRAL_VERSION: ${{ inputs.spectral_version }}
          run: npx -- @stoplight/spectral-cli@"${SPECTRAL_VERSION}" lint openapi-foas.yaml --ruleset=tools/spectral/.spectral.yaml
        - name: Install Go
          uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
          with:
            go-version-file: 'tools/cli/go.mod'
            cache-dependency-path: "tools/cli/go.sum"
        - name: Checkout GO SDK repository
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
          with:
            repository: 'mongodb/atlas-sdk-go'
            token: ${{ secrets.api_bot_pat }}
            path: 'atlas-sdk-go'
        - name: Download openapi-foas
          uses: actions/download-artifact@v6
          with:
            name: openapi-foas-${{ inputs.env }}
            github-token: ${{ secrets.api_bot_pat }}
            run-id: ${{ github.run_id }}
        - name: Validate the FOAS can be used with the Go SDK
          id: go-sdk-validation
          run: |
            cp -rf "openapi-foas.yaml" "atlas-sdk-go/openapi/atlas-sdk.yaml"
            pushd atlas-sdk-go
            make -e openapi-pipeline
            popd
  retry-handler:
    needs: [ required-validations ]
    if: ${{ always() && contains(needs.*.result, 'failure') && fromJSON(github.run_attempt) < 3}}
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.api_bot_pat }}
        run: gh workflow run retry-handler.yml -F run_id=${{ github.run_id }}

  failure-handler:
    name: Failure Handler
    needs: [ required-validations,  retry-handler ]
    if: ${{ always() && contains(needs.*.result, 'failure') && needs.retry-handler.result == 'skipped' }}
    uses: ./.github/workflows/failure-handler.yml
    with:
      env: ${{ inputs.env }}
      release_name: "Require OpenAPI Validation"
      team_id: ${{ vars.JIRA_TEAM_ID_APIX_PLATFORM }}
    secrets:
      jira_api_token: ${{ secrets.JIRA_API_TOKEN }}
