name: Semantic Commit Check

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  semantic-commit:
    runs-on: ubuntu-latest
    name: Check Semantic PRs titles
    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@069817c298f23fab00a8f29a2e556a5eac0f6390
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          scopes: |
            ipa
            prod
          requireScope: false
          subjectPattern: "^[A-Za-z].+[^.]$"
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            didn't match the configured pattern. Please ensure that the subject
            starts with a letter and doesn't end with a period.
          validateSingleCommit: false